// 變數
// xxs-手機視窗(開稿尺寸-375）-比例
$xxs-vw-1-vw: 	0.266667vw;
$xxs-vw-2-vw: 	0.533333vw;
$xxs-vw-3-vw: 	0.800000vw;
$xxs-vw-4-vw: 	1.066667vw;
$xxs-vw-5-vw: 	1.333333vw;
$xxs-vw-6-vw: 	1.600000vw;
$xxs-vw-7-vw: 	1.866667vw;
$xxs-vw-8-vw: 	2.133333vw;
$xxs-vw-9-vw: 	2.400000vw;
$xxs-vw-10-vw: 	2.666667vw;
$xxs-vw-11-vw: 	2.933333vw;
$xxs-vw-12-vw: 	3.200000vw;
$xxs-vw-13-vw: 	3.466667vw;
$xxs-vw-14-vw: 	3.733333vw;
$xxs-vw-15-vw: 	4.000000vw;
$xxs-vw-16-vw: 	4.266667vw;
$xxs-vw-17-vw: 	4.533333vw;
$xxs-vw-18-vw: 	4.800000vw;
$xxs-vw-19-vw: 	5.066667vw;
$xxs-vw-20-vw: 	5.333333vw;
$xxs-vw-21-vw: 	5.600000vw;
$xxs-vw-22-vw: 	5.866667vw;
$xxs-vw-23-vw: 	6.133333vw;
$xxs-vw-24-vw: 	6.400000vw;
$xxs-vw-25-vw: 	6.666667vw;
$xxs-vw-26-vw: 	6.933333vw;
$xxs-vw-27-vw: 	7.200000vw;
$xxs-vw-28-vw: 	7.466667vw;
$xxs-vw-29-vw: 	7.733333vw;
$xxs-vw-30-vw: 	8.000000vw;
$xxs-vw-31-vw: 	8.266667vw;
$xxs-vw-32-vw: 	8.533333vw;
$xxs-vw-33-vw: 	8.800000vw;
$xxs-vw-34-vw: 	9.066667vw;
$xxs-vw-35-vw: 	9.333333vw;
$xxs-vw-36-vw: 	9.600000vw;
$xxs-vw-37-vw: 	9.866667vw;
$xxs-vw-38-vw: 	10.133333vw;
$xxs-vw-39-vw: 	10.400000vw;
$xxs-vw-40-vw: 	10.666667vw;
$xxs-vw-41-vw: 	10.933333vw;
$xxs-vw-42-vw: 	11.200000vw;
$xxs-vw-43-vw: 	11.466667vw;
$xxs-vw-44-vw: 	11.733333vw;
$xxs-vw-45-vw: 	12.000000vw;
$xxs-vw-46-vw: 	12.266667vw;
$xxs-vw-47-vw: 	12.533333vw;
$xxs-vw-48-vw: 	12.800000vw;
$xxs-vw-49-vw: 	13.066667vw;
$xxs-vw-50-vw: 	13.333333vw;
$xxs-vw-51-vw: 	13.600000vw;
$xxs-vw-52-vw: 	13.866667vw;
$xxs-vw-53-vw: 	14.133333vw;
$xxs-vw-54-vw: 	14.400000vw;
$xxs-vw-55-vw: 	14.666667vw;
$xxs-vw-56-vw: 	14.933333vw;
$xxs-vw-57-vw: 	15.200000vw;
$xxs-vw-58-vw: 	15.466667vw;
$xxs-vw-59-vw: 	15.733333vw;
$xxs-vw-60-vw: 	16.000000vw;
$xxs-vw-61-vw: 	16.266667vw;
$xxs-vw-62-vw: 	16.533333vw;
$xxs-vw-63-vw: 	16.800000vw;
$xxs-vw-64-vw: 	17.066667vw;
$xxs-vw-65-vw: 	17.333333vw;
$xxs-vw-70-vw: 	18.666667vw;
$xxs-vw-75-vw: 	20.000000vw;
$xxs-vw-80-vw: 	21.333333vw;
$xxs-vw-85-vw: 	22.666667vw;
$xxs-vw-90-vw: 	24.000000vw;
$xxs-vw-95-vw: 	25.333333vw;
$xxs-vw-100-vw: 	26.666667vw;
$xxs-vw-110-vw: 	29.333333vw;
$xxs-vw-120-vw: 	32.000000vw;
$xxs-vw-130-vw: 	34.666667vw;
$xxs-vw-140-vw: 	37.333333vw;
$xxs-vw-150-vw: 	40.000000vw;
$xxs-vw-160-vw: 	42.666667vw;
$xxs-vw-170-vw: 	45.333333vw;
$xxs-vw-180-vw: 	48.000000vw;
$xxs-vw-190-vw: 	50.666667vw;
$xxs-vw-200-vw: 	53.333333vw;
$xxs-vw-210-vw: 	56.000000vw;
$xxs-vw-220-vw: 	58.666667vw;
$xxs-vw-230-vw: 	61.333333vw;
$xxs-vw-240-vw: 	64.000000vw;
$xxs-vw-250-vw: 	66.666667vw;
$xxs-vw-260-vw: 	69.333333vw;
$xxs-vw-270-vw: 	72.000000vw;
$xxs-vw-280-vw: 	74.666667vw;
$xxs-vw-290-vw: 	77.333333vw;
$xxs-vw-300-vw: 	80.000000vw;
$xxs-vw-350-vw: 	93.333333vw;
$xxs-vw-400-vw: 	106.666667vw;
$xxs-vw-450-vw: 	120.000000vw;
$xxs-vw-500-vw: 	133.333333vw;
$xxs-vw-550-vw: 	146.666667vw;
$xxs-vw-600-vw: 	160.000000vw;




// lg-桌機視窗(最大內容-1400）-比例
$lg-vw-1-vw: 	0.071429vw;
$lg-vw-2-vw: 	0.142857vw;
$lg-vw-3-vw: 	0.214286vw;
$lg-vw-4-vw: 	0.285714vw;
$lg-vw-5-vw: 	0.357143vw;
$lg-vw-6-vw: 	0.428571vw;
$lg-vw-7-vw: 	0.500000vw;
$lg-vw-8-vw: 	0.571429vw;
$lg-vw-9-vw: 	0.642857vw;
$lg-vw-10-vw: 	0.714286vw;
$lg-vw-11-vw: 	0.785714vw;
$lg-vw-12-vw: 	0.857143vw;
$lg-vw-13-vw: 	0.928571vw;
$lg-vw-14-vw: 	1.000000vw;
$lg-vw-15-vw: 	1.071429vw;
$lg-vw-16-vw: 	1.142857vw;
$lg-vw-17-vw: 	1.214286vw;
$lg-vw-18-vw: 	1.285714vw;
$lg-vw-19-vw: 	1.357143vw;
$lg-vw-20-vw: 	1.428571vw;
$lg-vw-21-vw: 	1.500000vw;
$lg-vw-22-vw: 	1.571429vw;
$lg-vw-23-vw: 	1.642857vw;
$lg-vw-24-vw: 	1.714286vw;
$lg-vw-25-vw: 	1.785714vw;
$lg-vw-26-vw: 	1.857143vw;
$lg-vw-27-vw: 	1.928571vw;
$lg-vw-28-vw: 	2.000000vw;
$lg-vw-29-vw: 	2.071429vw;
$lg-vw-30-vw: 	2.142857vw;
$lg-vw-31-vw: 	2.214286vw;
$lg-vw-32-vw: 	2.285714vw;
$lg-vw-33-vw: 	2.357143vw;
$lg-vw-34-vw: 	2.428571vw;
$lg-vw-35-vw: 	2.500000vw;
$lg-vw-36-vw: 	2.571429vw;
$lg-vw-37-vw: 	2.642857vw;
$lg-vw-38-vw: 	2.714286vw;
$lg-vw-39-vw: 	2.785714vw;
$lg-vw-40-vw: 	2.857143vw;
$lg-vw-41-vw: 	2.928571vw;
$lg-vw-42-vw: 	3.000000vw;
$lg-vw-43-vw: 	3.071429vw;
$lg-vw-44-vw: 	3.142857vw;
$lg-vw-45-vw: 	3.214286vw;
$lg-vw-46-vw: 	3.285714vw;
$lg-vw-47-vw: 	3.357143vw;
$lg-vw-48-vw: 	3.428571vw;
$lg-vw-49-vw: 	3.500000vw;
$lg-vw-50-vw: 	3.571429vw;
$lg-vw-51-vw: 	3.642857vw;
$lg-vw-52-vw: 	3.714286vw;
$lg-vw-53-vw: 	3.785714vw;
$lg-vw-54-vw: 	3.857143vw;
$lg-vw-55-vw: 	3.928571vw;
$lg-vw-56-vw: 	4.000000vw;
$lg-vw-57-vw: 	4.071429vw;
$lg-vw-58-vw: 	4.142857vw;
$lg-vw-59-vw: 	4.214286vw;
$lg-vw-60-vw: 	4.285714vw;
$lg-vw-61-vw: 	4.357143vw;
$lg-vw-62-vw: 	4.428571vw;
$lg-vw-63-vw: 	4.500000vw;
$lg-vw-64-vw: 	4.571429vw;
$lg-vw-65-vw: 	4.642857vw;
$lg-vw-70-vw: 	5.000000vw;
$lg-vw-75-vw: 	5.357143vw;
$lg-vw-80-vw: 	5.714286vw;
$lg-vw-85-vw: 	6.071429vw;
$lg-vw-90-vw: 	6.428571vw;
$lg-vw-95-vw: 	6.785714vw;
$lg-vw-100-vw: 	7.142857vw;
$lg-vw-110-vw: 	7.857143vw;
$lg-vw-120-vw: 	8.571429vw;
$lg-vw-130-vw: 	9.285714vw;
$lg-vw-140-vw: 	10.000000vw;
$lg-vw-150-vw: 	10.714286vw;
$lg-vw-160-vw: 	11.428571vw;
$lg-vw-170-vw: 	12.142857vw;
$lg-vw-180-vw: 	12.857143vw;
$lg-vw-190-vw: 	13.571429vw;
$lg-vw-200-vw: 	14.285714vw;
$lg-vw-210-vw: 	15.000000vw;
$lg-vw-220-vw: 	15.714286vw;
$lg-vw-230-vw: 	16.428571vw;
$lg-vw-240-vw: 	17.142857vw;
$lg-vw-250-vw: 	17.857143vw;
$lg-vw-260-vw: 	18.571429vw;
$lg-vw-270-vw: 	19.285714vw;
$lg-vw-280-vw: 	20.000000vw;
$lg-vw-290-vw: 	20.714286vw;
$lg-vw-300-vw: 	21.428571vw;
$lg-vw-350-vw: 	25.000000vw;
$lg-vw-400-vw: 	28.571429vw;
$lg-vw-450-vw: 	32.142857vw;
$lg-vw-500-vw: 	35.714286vw;
$lg-vw-550-vw: 	39.285714vw;
$lg-vw-600-vw: 	42.857143vw;








