@media screen and (max-width: 767px) {
  .contact .main-content {
    padding: 0 15px; } }

@media screen and (max-width: 767px) {
  .main-title h1 span {
    display: inline; } }

@media screen and (min-width: 768px) {
  .main-title p br {
    display: none; } }

.form {
  padding-bottom: 75px; }
  .form input:focus {
    outline-color: #068080; }
  .form input:disabled,
  .form textarea:disabled,
  .form .disabled {
    cursor: not-allowed !important; }
  .form form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .form {
      width: 100%;
      margin: 0 auto;
      max-width: 1000px;
      padding: 0 25px; } }
  @media only screen and (min-width: 768px) {
    .form .form .wrap {
      max-width: 1300px; } }

.reminder__message {
  display: none;
  color: #e03757;
  font-size: 14px; }
  .reminder__message.show {
    display: block;
    padding-bottom: 10px; }

.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 4vw 1.33333vw; }
  .form__box:not([class^="final__box"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 768px) {
    .form__box {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding: 3.57143vw 0; } }
  @media only screen and (min-width: 1400px) {
    .form__box {
      padding: 50px 0; } }
  .form__box h2 {
    color: #1cbfa5;
    font-weight: 400;
    margin: 0;
    padding: 0 0 2.66667vw 0; }
    @media only screen and (min-width: 768px) {
      .form__box h2 {
        padding: 0 0 0.71429vw 0; } }
    @media only screen and (min-width: 1400px) {
      .form__box h2 {
        padding: 0 0 10px 0; } }
  .form__box .form__box-title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
    @media only screen and (min-width: 768px) {
      .form__box .form__box-title {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%; } }
  .form__box .form__box-itemgroup {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 0; }
    @media only screen and (min-width: 768px) {
      .form__box .form__box-itemgroup {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0; } }
    .form__box .form__box-itemgroup .form__box-item {
      position: relative;
      padding: 0 0 4vw 0; }
      @media only screen and (min-width: 768px) {
        .form__box .form__box-itemgroup .form__box-item {
          width: calc(100% - 2.142857vw);
          padding: 0 0 1.07143vw; } }
      @media only screen and (min-width: 1400px) {
        .form__box .form__box-itemgroup .form__box-item {
          width: calc(100% - 30px);
          padding: 0 0 15px; } }
      .form__box .form__box-itemgroup .form__box-item .inputtitle {
        display: block;
        width: 100%;
        color: #1A1A1A;
        padding-bottom: 1.33333vw;
        margin-top: 0px; }
        @media only screen and (min-width: 768px) {
          .form__box .form__box-itemgroup .form__box-item .inputtitle {
            padding-bottom: 0.71429vw; } }
        @media only screen and (min-width: 1400px) {
          .form__box .form__box-itemgroup .form__box-item .inputtitle {
            padding-bottom: 10px; } }
      .form__box .form__box-itemgroup .form__box-item input[type='text'] {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 8px;
        color: #1A1A1A;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0.3em; }
        .form__box .form__box-itemgroup .form__box-item input[type='text'].valid__error {
          border: 2px solid #e03757; }
      .form__box .form__box-itemgroup .form__box-item .valid__error ~ .checkmark {
        border: 1px solid #e03757; }
      .form__box .form__box-itemgroup .form__box-item input[type='text']::-webkit-input-placeholder,
      .form__box .form__box-itemgroup .form__box-item textarea::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.3); }
      .form__box .form__box-itemgroup .form__box-item input[type='text']:-ms-input-placeholder,
      .form__box .form__box-itemgroup .form__box-item textarea:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.3); }
      .form__box .form__box-itemgroup .form__box-item input[type='text']::-ms-input-placeholder,
      .form__box .form__box-itemgroup .form__box-item textarea::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.3); }
      .form__box .form__box-itemgroup .form__box-item input[type='text']::placeholder,
      .form__box .form__box-itemgroup .form__box-item textarea::placeholder {
        color: rgba(0, 0, 0, 0.3); }
      .form__box .form__box-itemgroup .form__box-item textarea {
        resize: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0.3em;
        width: 100%;
        padding: 15px 20px; }
      .form__box .form__box-itemgroup .form__box-item .required::after {
        content: '*';
        color: #e03757;
        padding-left: 0.2em; }
      .form__box .form__box-itemgroup .form__box-item.captcha-item {
        width: 100%; }
        .form__box .form__box-itemgroup .form__box-item.captcha-item .inputtitle.label-captcha {
          display: inline-block;
          width: 22%;
          margin: 0; }
          @media only screen and (min-width: 768px) {
            .form__box .form__box-itemgroup .form__box-item.captcha-item .inputtitle.label-captcha {
              width: 5.71429vw; } }
          @media only screen and (min-width: 1400px) {
            .form__box .form__box-itemgroup .form__box-item.captcha-item .inputtitle.label-captcha {
              width: 80px; } }
        .form__box .form__box-itemgroup .form__box-item.captcha-item .pic-captcha {
          display: inline-block;
          height: 10.66667vw;
          margin-right: 1.33333vw; }
          @media only screen and (min-width: 768px) {
            .form__box .form__box-itemgroup .form__box-item.captcha-item .pic-captcha {
              height: 3.42857vw;
              margin-right: 0.35714vw; } }
          @media only screen and (min-width: 1400px) {
            .form__box .form__box-itemgroup .form__box-item.captcha-item .pic-captcha {
              height: 48px;
              margin-right: 5px; } }
        .form__box .form__box-itemgroup .form__box-item.captcha-item .btn-refreshcaptcha {
          display: inline-block;
          width: 13.33333vw;
          padding: 0;
          background-color: transparent;
          -webkit-appearance: none;
          border: none;
          outline: none;
          cursor: pointer; }
          @media only screen and (min-width: 768px) {
            .form__box .form__box-itemgroup .form__box-item.captcha-item .btn-refreshcaptcha {
              width: 3.57143vw; } }
          @media only screen and (min-width: 1400px) {
            .form__box .form__box-itemgroup .form__box-item.captcha-item .btn-refreshcaptcha {
              width: 50px; } }
          .form__box .form__box-itemgroup .form__box-item.captcha-item .btn-refreshcaptcha img {
            width: 100%; }
        .form__box .form__box-itemgroup .form__box-item.captcha-item .input-captcha {
          display: block;
          margin: 5px auto 0 21.33333vw;
          max-width: 40vw; }
          @media only screen and (min-width: 768px) {
            .form__box .form__box-itemgroup .form__box-item.captcha-item .input-captcha {
              display: inline-block;
              margin: 5px auto 0 0.71429vw;
              width: 10.71429vw; } }
          @media only screen and (min-width: 1400px) {
            .form__box .form__box-itemgroup .form__box-item.captcha-item .input-captcha {
              width: 150px; } }
    .form__box .form__box-itemgroup + .form__box .form__box-itemgroup {
      margin-top: 20px; }
  .form__box .checkbox__itemgroup {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: -5.33333vw 0 2.66667vw; }
    @media only screen and (min-width: 768px) {
      .form__box .checkbox__itemgroup {
        margin: -1.78571vw 0 0.71429vw; } }
    @media only screen and (min-width: 1400px) {
      .form__box .checkbox__itemgroup {
        margin: -25px 0 10px; } }
  .form__box .checkbox__item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 1.33333vw 6.66667vw;
    user-select: none; }
    @media only screen and (min-width: 768px) {
      .form__box .checkbox__item {
        padding: 0 1.78571vw; } }
    @media only screen and (min-width: 1400px) {
      .form__box .checkbox__item {
        padding: 0 25px; } }
    .form__box .checkbox__item input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
    .form__box .checkbox__item .checkmark {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-42%);
      -ms-transform: translateY(-42%);
      transform: translateY(-42%);
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.3);
      background-color: #fff;
      height: 4.8vw;
      width: 4.8vw; }
      @media only screen and (min-width: 768px) {
        .form__box .checkbox__item .checkmark {
          height: 1.42857vw;
          width: 1.42857vw; } }
      @media only screen and (min-width: 1400px) {
        .form__box .checkbox__item .checkmark {
          height: 20px;
          width: 20px; } }
      .form__box .checkbox__item .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 1.6vw;
        top: 0;
        width: 1.33333vw;
        height: 2.66667vw;
        border: solid white;
        border-width: 0 0.53333vw 0.53333vw 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
        @media only screen and (min-width: 768px) {
          .form__box .checkbox__item .checkmark:after {
            border-width: 0 0.14286vw 0.14286vw 0;
            left: 0.5vw;
            top: 0px;
            width: 0.42857vw;
            height: 0.85714vw; } }
        @media only screen and (min-width: 1400px) {
          .form__box .checkbox__item .checkmark:after {
            border-width: 0 2px 2px 0;
            left: 7px;
            top: 0px;
            width: 6px;
            height: 12px; } }
    .form__box .checkbox__item:hover input ~ .checkmark {
      background-color: #EEEEEE; }
    .form__box .checkbox__item input:checked ~ .checkmark {
      border: 2px solid #068080;
      background-color: #068080; }
    .form__box .checkbox__item input:checked ~ .checkmark:after {
      display: block; }

.agree__box.checkbox__item {
  display: block;
  position: relative; }

.agree__box.checkbox__item .checkmark {
  border-radius: 0;
  display: block;
  top: 0;
  left: 0;
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%); }
  @media only screen and (min-width: 768px) {
    .agree__box.checkbox__item .checkmark {
      padding: 0; } }

.agree__box .agree__box-text {
  display: block;
  width: 95%;
  padding: 0 6.66667vw; }
  @media only screen and (min-width: 768px) {
    .agree__box .agree__box-text {
      padding: 0 2.14286vw; } }
  @media only screen and (min-width: 1400px) {
    .agree__box .agree__box-text {
      padding: 0 30px; } }

.agree__box a {
  display: inline-block;
  color: #1cbfa5;
  border-bottom: 1px solid #1cbfa5;
  text-decoration: none; }

#popupTips .privacylink {
  color: #20a09a;
  padding: 15px 0; }

#popupTips .highlight {
  color: red;
  text-decoration: underline;
  -webkit-text-decoration-color: #000000;
  text-decoration-color: #000000; }

@media only screen and (min-width: 768px) {
  .companyphone__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .companyphone__box .companyphonenum {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
      flex: 1 0 0; }
    .companyphone__box .companyphoneext {
      margin-left: 1em;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 9em;
      flex: 0 0 9em; }
  .final__box {
    margin-left: 20%; } }

body.loading {
  overflow: hidden; }

body.loading .modal {
  display: block; }

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #000000;
  text-align: center;
  background: rgba(255, 255, 255, 0.8); }
