@import 'color';
@import 'font';
@import 'vw.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
body {
    font-weight: 400;
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 大區塊-主要間距
.section{
	padding: $xxs-vw-75-vw 0;
	@media screen and (min-width:768px){
	    padding: $lg-vw-100-vw 0;
	}
	@media screen and (min-width:1400px){
	    padding: 100px 0;
	}

	// 控制內容寬度內距
	> .container{
		width: calc(100% - 4vw);
		max-width: 1400px;
		@media screen and (min-width:768px){
		    width: 90%;
		}
	}
}

// 大區塊-特調-消除
.section.kv{
	padding: 0;
}




// 大區塊-主要標題
.main-title{
	margin-bottom:  $xxs-vw-25-vw;
	@media screen and (min-width:768px){
	    margin-bottom:  $lg-vw-50-vw;
	}
	@media screen and (min-width:1400px){
	    margin-bottom:  50px;
	}
}



// 背景：點點
.section.awards,
.section.advantage,
.solution {
  background-image: radial-gradient(circle at 1px, rgba(169, 231, 221, 0.8) 1px, transparent 1.5px);
  background-size: 12px 12px; 
}




// 特調：斷行控制
.visible-xs{
	@media screen and (min-width:768px){
		display: none;
	}
}

.visible-lg{
	@media screen and (max-width:767px){
		display: none;
	}
}




























//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 按紐 設定
// 01-外型-基本實心  .btn-basic
// 01-外型-外框   .btn-outline
// 01-外型-箭頭-無   .btn-arrow-not
// 02-尺寸-小型:h40 .btn-small
// 02-尺寸-大型:h55 .btn-big
// 02-尺寸-變型:桌h55 /手h30 .btn-size3
// 02-尺寸-變型:桌h55 /手h40 .btn-size4
// 03-範圍-半型 .btn-half
// 04-色彩配置-full色塊第二種：綠變紅 .btn-full-bgcolor2
// 04-色彩配置-half色塊第二種：綠變紅 .btn-half-bgcolor2
// 04-色彩配置-文字顏色第二種：黑色 .btn-text-color2
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


// 按紐-01-外型-基本實心 
	.btn-basic
	{
		position: relative;
		display: inline-block;
		overflow: hidden;
		border-radius:999px;
		text-decoration: none;
		text-align: left;
		color: #fff;
		background-color: $main-color1;
		span{
			position: relative;
			display: inline-block;
			top: -1px;
		}
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
	    	height: 100%;
			border-radius:999px;
			background-color: $main-color3;
	    	transition: width .5s, left .5s;
		}
		&::after{ // 箭頭 - 小型15px
		    content: '';
		    display: inline-block;
		    position: relative;
		    z-index: 1;
		    background: url('../pic/icon_flow_arrow_right_white.png') no-repeat center/100% auto;
		}
		&:hover::before{
			width: 100%;
		}
	}

// 按紐-01-外型-外框
	.btn-outline
	{
		position: relative;
		display: inline-block;
		overflow: hidden;
		border-radius:999px;
		border: 1px solid $main-color1DD;
		text-decoration: none;
		text-align: left;
		color: $main-color1DD;
		background-color: #fff;
		span{
			position: relative;
			display: inline-block;
			top: -1px;
		}
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
	    	height: 100%;
			border-radius:999px;
			background-color: $main-color3;
	    	transition: width .5s, left .5s;
		}
		&:hover{
			border: 1px solid $main-color3;
		}
		&:hover::before{
			width: 100%;
		}
		&:hover span{
			color: #fff;
		}
	}

// 按紐-01-外型-箭頭-無
	.btn-arrow-not
	{
		&::after{
			display:none;
		}
	}



// 按紐-02-尺寸-小型:h40
	.btn-small
	{
		height: $xxs-vw-40-vw;
		padding: 0 $xxs-vw-25-vw;
		margin: $xxs-vw-5-vw 4vw $xxs-vw-5-vw 0;
		@media screen and (min-width:768px){
		    height: $lg-vw-40-vw;
			padding: 0 $lg-vw-25-vw;
			margin: $lg-vw-5-vw  $lg-vw-25-vw  $lg-vw-5-vw  0;

		}
		@media screen and (min-width:1400px){
		    height: 40px;
			padding: 0 25px;
			margin: 5px 15px 5px 0;
		}

		// 箭頭的尺寸
		&::after{
		    width: $xxs-vw-15-vw;
		    height: $xxs-vw-15-vw;
		    // 15 / 375 = 0.04
			top: -0.4vw;
		    // 1 / 375 = 0.002666667
		    @media screen and (min-width:768px){
			    width: $lg-vw-15-vw;
			    height: $lg-vw-15-vw;
				top: -$lg-vw-1-vw;
		    }
		    @media screen and (min-width:1400px){
			    width: 15px;
			    height: 15px;
				top: -1px;
		    }
		}

		// 內容
		span{
			line-height: $xxs-vw-40-vw;
			font-size: $xxs-vw-18-vw;
			@media screen and (min-width:768px){
			    line-height: $lg-vw-40-vw;
		    	font-size: $lg-vw-18-vw;
			}
			@media screen and (min-width:1400px){
			    line-height: 40px;
		    	font-size: 18px;
			}
		}
	}


// 按紐-02-尺寸
	.btn-big, // 大型:h55
	.btn-size3, // 變型:桌h55 /手h30
	.btn-size4 // 變型:桌h55 /手h40
	{	
		height: $xxs-vw-55-vw;
		padding: 0 $xxs-vw-50-vw;
		margin: $xxs-vw-1-vw $xxs-vw-5-vw $xxs-vw-1-vw 0;
		@media screen and (min-width:768px){
		    height: $lg-vw-55-vw;
			padding: 0 $lg-vw-50-vw;
			margin: $lg-vw-5-vw $lg-vw-10-vw $lg-vw-5-vw 0;
		}
		@media screen and (min-width:1400px){
		    height: 55px;
			padding: 0 50px;
			margin: 5px 10px 5px 0;
		}
		&::after{
			display: none;
		}

		span{
			line-height: $xxs-vw-55-vw;
			font-size: $xxs-vw-22-vw;
			@media screen and (min-width:768px){
			    line-height: $lg-vw-55-vw;
			    font-size: $lg-vw-22-vw;
			}
			@media screen and (min-width:1400px){
			    line-height: 55px;
			    font-size: 22px;
			}
		}
	}


// 按紐-02-尺寸-變型:桌h55 /手h30  / 文字22/16
	.btn-size3
	{	
		@media screen and (max-width:767px){
			height: $xxs-vw-30-vw;
			padding: 0 $xxs-vw-10-vw;
		}
		@media screen and (min-width:768px){
			padding: 0 $lg-vw-25-vw;
		}
		@media screen and (min-width:1400px){
			padding: 0 25px;
		}
		span{
			@media screen and (max-width:767px){
				line-height: $xxs-vw-30-vw;
				font-size: $xxs-vw-16-vw;
			}
		}
	}




// 按紐-02-尺寸-變型:桌h55 /手h40  / 文字26/20
	.btn-size4
	{	
		height: $xxs-vw-40-vw;
		padding: 0 $xxs-vw-13-vw;
		@media screen and (min-width:768px){
			height: $lg-vw-55-vw;
			padding: 0 $lg-vw-25-vw;
		}
		@media screen and (min-width:1400px){
			height: 55px;
			padding: 0 25px;
		}
		span{
			line-height: $xxs-vw-40-vw;
			font-size: $xxs-vw-19-vw;
			@media screen and (min-width:768px){
			    line-height: $lg-vw-55-vw;
			    font-size: $lg-vw-26-vw;
			}
			@media screen and (min-width:1400px){
			    line-height: 55px;
			    font-size: 26px;
			}
		}
	}


// 按紐-03-範圍-半型
	.button-half
	{
		color: $txt-main-color;
		background-color: transparent;
		&::before{
			width: 40%;
			background-color: $main-color1;
		}
		&:after{
		    background: url('../pic/icon_flow_arrow_right_black.png') no-repeat center/100% auto;
		}
		&:hover{
			color:#fff;
		}
		&:hover::before{
			background-color: $main-color3;
		}
		&:hover:after{
			background: url('../pic/icon_flow_arrow_right_white.png') no-repeat center/100% auto;
		}
	}



// 按紐-04-色彩配置-full色塊第二種：紅變綠
	.btn-full-bgcolor2{
		background-color: $main-color3;
		&::before{
			background-color: $main-color1;
		}
		&:hover::before{
			background-color: $main-color1;
		}
	} 
// 按紐-04-色彩配置-falf色塊第二種：紅變綠
	.btn-falf-bgcolor2{
		&::before{
			background-color: $main-color3;
		}
		&:hover::before{
			background-color: $main-color1;
		}
	} 


// 按紐-04-色彩配置-文字顏色第二種：黑色
	.btn-text-color2{
		color: $txt-main-color; 
		&:after{
		    background: url('../pic/icon_flow_arrow_right_black.png') no-repeat center/100% auto;
		}
		&:hover{
			color: #fff;
		}
		&:hover::after{
		    background: url('../pic/icon_flow_arrow_right_white.png') no-repeat center/100% auto;
		}
	}








// 按紐-01-外型-選項item用
	.button-select{
		background-color: #f0f000;
	}

// 按紐-01-外型-專人諮詢
	.button-contact{
		position: relative;
		display: inline-block;
		text-decoration: none;
		border-radius:999px;
		color: #fff;
		background-color: #f0f000;
		overflow: hidden;

	}




// 白色箭頭 - 小型15px
.solution-item .txt h2::after{
	content: '';
    display: inline-block;
    position: relative;
    z-index: 1;
    width: $xxs-vw-16-vw;
    height: $xxs-vw-16-vw;
    background: url('../pic/icon_flow_arrow_right_white.png') no-repeat center/100% auto;
    @media screen and (min-width:768px){
	    width: $lg-vw-16-vw;
	    height: $lg-vw-16-vw;
    }
    @media screen and (min-width:1400px){
	    width: 16px;
	    height: 16px;
    }
}


















// =========================
// 置頂選單 Nav
// =========================
.CTBC-logo a {
	@media screen and (min-width:768px){
	    width: auto;
	    height: 60px;
	}

}


// =========================
// 專人諮詢區域
// =========================
.section.advisory{
	padding: 0;

	>.container{
		padding: $xxs-vw-75-vw $xxs-vw-25-vw;
		@media screen and (min-width:768px){
		    padding: $lg-vw-75-vw $lg-vw-150-vw;
		}
		@media screen and (min-width:1400px){
		    padding: 75px 150px;
		}	
	}


	.subscribe p{
		margin-top: -4vw;
		@media screen and (min-width:768px){
		    margin-top: $lg-vw-15-vw;
		}
		@media screen and (min-width:1400px){
		    margin-top: -15px;
		}
	}
}





// =========================
// Footer區域
// =========================
.main-footer{
	border-top:10px solid $main-color1D;
	padding: 0;

	>.container{
		padding: $xxs-vw-25-vw $xxs-vw-25-vw $xxs-vw-50-vw;
		@media screen and (min-width:768px){
		    padding: $lg-vw-15-vw $lg-vw-150-vw $lg-vw-50-vw;
		}
		@media screen and (min-width:1400px){
		    padding: 15px 150px 50px;
		}	
	}


	.subscribe p{
		margin-top: -4vw;
		@media screen and (min-width:768px){
		    margin-top: $lg-vw-15-vw;
		}
		@media screen and (min-width:1400px){
		    margin-top: -15px;
		}
	}
}







// =========================
// KV Banner
// =========================
	.kv{
		.container {
	        @media screen and (max-width: 767px) {
	            $pd_value: 7.5vw;
	            padding-left: $pd_value;
	            padding-right: $pd_value;
	        }
	    }

	    .container:after {
	        left: 0;
	        background-image: url('../pic/banner_bgimage_left.png');
	        transform: translateX(0%);
	        background-position: right center;
	        @media screen and (min-width: 768px) {
	            transform: translateX(-90%);
	        }
	    }


	}


// =========================
// 表單
// =========================
	.main-footer .subscribe .check-accept .checkmark {
	    background-color: #fff;
	}



	.practice .service-banner{

	  background-color: #fff;
	}


	.practice .service-banner video {
	  display: block;
	  margin: 0 auto 50px;
	  width: calc(100% - 30px);
	  height: auto; 
	  background-color: rgba(0, 0, 0, 0);
	  @media screen and (min-width: 768px) {
	      width: 70%; 
	  } 
	}






// 輪撥
	.slick-dots{
		li,
		li button,
		li button::before
		{
			width: $xxs-vw-25-vw;
			height: $xxs-vw-25-vw;
			@media screen and (min-width: 768px) {
				width: $lg-vw-25-vw;
				height: $lg-vw-25-vw;
			} 
			@media screen and (min-width: 1400px) {
				width: 25px;
				height: 25px;
			} 
		}
		li{
			margin:0 $xxs-vw-10-vw;
			@media screen and (min-width: 768px) {
				margin:0 $lg-vw-10-vw;
			} 
			@media screen and (min-width: 1400px) {
				margin:0 10px;
			} 
		}
		li button:before{
			font-size: $xxs-vw-25-vw;
			top: $xxs-vw-5-vw;
			@media screen and (min-width: 768px) {
				font-size: $lg-vw-25-vw;
				top: $lg-vw-25-vw;
			} 
			@media screen and (min-width: 1400px) {
				font-size: 25px;
				top: 25px;
			} 
		}
		li button:before,
		li.slick-active button:before{
			opacity: 1;
		}
	}


	// 首頁-夥伴-輪撥-左右方向鍵
	.page-index {
		.section.client{
			.slick-prev:before, 
			.slick-next:before{
				opacity: 0;

			}
		}
		.slick-slider .slick-list {
			padding-bottom: $xxs-vw-50-vw;
			@media screen and (min-width: 768px) {
				padding-bottom: $lg-vw-20-vw;
			} 
			@media screen and (min-width: 1400px) {
				padding-bottom: 20px;
			} 
		}
	}






// 外連提示框
.extralink__popup-content{
	text-align: center;
	p span{
		@media screen and (max-width:767px){
			display: block;
		}
	}
	p span.visible-lg{
		@media screen and (max-width:767px){
			display: none;
		}
	}
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// =========================
// 首頁
// =========================
.page-index {

	// Banner區
	.onlyfirst{
		// 首頁-Banner- 第一則 標題文字
		.kv-title,
		.kv-title span:first-child{
			font-family: "Roboto Condensed",  "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
			font-weight: bold;
			line-height: 1.2;
			font-size: $xxs-vw-38-vw;
			@media screen and (min-width:768px){
			    font-size: $lg-vw-45-vw;
			}
			@media screen and (min-width:1400px){
			    font-size: 45px;
			}
		}
		// 首頁-Banner- 第一則 標題文字-大的
		.kv-title span:nth-child(2){
			line-height: 1.2;
			font-size: $xxs-vw-38-vw;
			@media screen and (min-width:768px){
			    font-size: $lg-vw-70-vw;
			    margin-bottom: $lg-vw-70-vw;
			}
			@media screen and (min-width:1400px){
			    font-size: 70px;
			    margin-bottom: 70px;
			}
		}

		.kv-txt // 首頁-Banner-次級標題
		{	
			margin-top: -$xxs-vw-10-vw;
			line-height: 1.5;
			font-size: $xxs-vw-21-vw;
			@media screen and (min-width:768px){
			    font-size: $lg-vw-40-vw;
			}
			@media screen and (min-width:1400px){
			    font-size: 40px;
			}
		}
	}



	// 問卷區
	.mv iframe{
		text-align: center;
	}	
	.mv img{

		border-radius: 10px;
		height: auto;
		@media screen and (min-width:768px){
		    margin:  0;
		}
		@media screen and (min-width:1400px){
		}

	}

	.issue .main-content{
		@media screen and (min-width:768px){
		    margin-top:  -$lg-vw-80-vw;
		}
		@media screen and (min-width:1400px){
		    margin-top:  -80px;
		}
	}
	.issue .step-group{
		@media screen and (min-width:768px){
		    padding: $lg-vw-15-vw;
		}
		@media screen and (min-width:1400px){
		    padding: 0 15px;
		}
	}
	.issue .step-item-list{
		@media screen and (min-width:768px){
		    margin-top: -$lg-vw-10-vw;
		}
		@media screen and (min-width:1400px){
		    margin-top: -10px;
		}		
	}




	// 結果區
	.issue-result {

		.issue-result-item{
			h4{
				line-height: 1;
				margin-top: -$xxs-vw-5-vw;
				@media screen and (min-width:768px){
				    margin-top: -$lg-vw-10-vw;
				}
				@media screen and (min-width:1400px){
				    margin-top: -10px;
				}
			}
			.btn-more{
				background-color: $main-color3;
			}
		}
		.main-more .btn-more::before{
			background-color: $main-color1;
		}
		.main-more{
			@media screen and (max-width:767px){
				position: relative;
				margin-left: auto;
				margin-right: auto;
			}
		}

	}

	// 解決方案
	.solution .main-content .col:nth-child(odd){
		@media screen and (min-width:768px){
		    padding-top:  $lg-vw-100-vw;
		    // 100 / 1400 = 0.057142857
		}
		@media screen and (min-width:1400px){
		    padding-top:  100px;
		}
	}
	.solution-item .txt{ 
		max-height: $xxs-vw-35-vw;
		@media screen and (min-width:768px){
		    max-height: $lg-vw-50-vw;
		    // 50 / 1400 = 0.035714286
		}
		@media screen and (min-width:1400px){
		    max-height: 50px;
		}
	}
	.solution-item:hover .txt{
		max-height: 100%;
	}

	.solution-item h2::after{
	    @media screen and (min-width:768px){
		    width: 1.4285714vw;
		    height: 1.4285714vw;
	    	// 20 / 1400 ＝ 0.014285714
	    }
	    @media screen and (min-width:1400px){
		    width: 20px;
		    height: 20px;
	    }
	}

	.solution-item:hover h2::after,
	.solution-item:active h2::after{
		display: none;
	}

}




// =========================
// 表單頁
// =========================
	.section.contact{
		>.container{
			max-width: 1100px;
		}
	}


// =========================
// 服務頁
// =========================
	.case h2,
	.case h3{
		margin: 0;
	}


	.page-service{
		.slider-item p{
			color:$main-color2D;
		}
	}

// =========================
// 新聞頁
// =========================
.headline-list .txt{
	line-height: 1.25;
}

.news-list .category, .news-list .date {
	line-height: 1;
}





// =========================
// 獎項頁
// =========================
.page-awards{
	background-color: #f2f2f2;

	// 獎項年度文字
	.awards-content .year span{
		line-height: 1.2;
		font-weight: bold;
		font-size: $xxs-vw-100-vw;
		// 100 / 375 = 0.266666667
		@media screen and (min-width:768px){
		    font-size: $lg-vw-100-vw;
		}
		@media screen and (min-width:1400px){
		    font-size: 100px;
		}
	}
}








// 條款頁
.page-regulation{
	padding-top: $xxs-vw-60-vw;
	@media screen and (min-width:768px){
		padding-top: $lg-vw-120-vw;
	}
	@media screen and (min-width:1400px){
		padding-top: 120px;
	}
}






