// 變數
// green L亮 D深 DD超深
$main-color1L: #46ffc0;
$main-color1: #1cbfa5;
$main-color1D: #068080;
$main-color1DD: #007d7d;
$main-color1DDD: #246465;
// blue
$main-color2L: #17aeff;
$main-color2: #2493ce;
$main-color2D: #136098;
$main-color2DD: #1c3e57;
// pink
// $main-color3L: #601090;
$main-color3: #e03757;
// $main-color3D: #33044e;
$main-color3DD: #a21043;
// gray
$txt-main-color: #1A1A1A;
$line-border-color: rgba(0,0,0,0.2);
$input-border-color: rgba(0,0,0,0.3);