// 變數
// green L亮 D深 DD超深
$main-color1L: #46ffc0;
$main-color1: #1cbfa5;
$main-color1D: #068080;
$main-color1DD: #246465;
// blue
$main-color2L: #17aeff;
$main-color2: #2493ce;
$main-color2D: #136098;
$main-color2DD: #1c3e57;
// pink
// $main-color3L: #601090;
$main-color3: #e03757;
// $main-color3D: #33044e;
$main-color3DD: #a21043;
// gray
$txt-main-color: #1A1A1A;
.nnaOOlNL_0 {
    stroke-dasharray: 237 239;
    stroke-dashoffset: 238;
    animation: nnaOOlNL_draw 2000ms linear 0ms forwards;
}

.nnaOOlNL_1 {
    stroke-dasharray: 79 81;
    stroke-dashoffset: 80;
    animation: nnaOOlNL_draw 2000ms linear 142ms forwards;
}

.nnaOOlNL_2 {
    stroke-dasharray: 448 450;
    stroke-dashoffset: 449;
    animation: nnaOOlNL_draw 2000ms linear 285ms forwards;
}

.nnaOOlNL_3 {
    stroke-dasharray: 375 377;
    stroke-dashoffset: 376;
    animation: nnaOOlNL_draw 2000ms linear 428ms forwards;
}

.nnaOOlNL_4 {
    stroke-dasharray: 197 199;
    stroke-dashoffset: 198;
    animation: nnaOOlNL_draw 2000ms linear 571ms forwards;
}

.nnaOOlNL_5 {
    stroke-dasharray: 122 124;
    stroke-dashoffset: 123;
    animation: nnaOOlNL_draw 2000ms linear 714ms forwards;
}

.nnaOOlNL_6 {
    stroke-dasharray: 381 383;
    stroke-dashoffset: 382;
    animation: nnaOOlNL_draw 2000ms linear 857ms forwards;
}

.nnaOOlNL_7 {
    stroke-dasharray: 212 214;
    stroke-dashoffset: 213;
    animation: nnaOOlNL_draw 2000ms linear 1000ms forwards;
}

@keyframes nnaOOlNL_draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes nnaOOlNL_fade {
    0% {
        stroke-opacity: 1;
    }
    94.44444444444444% {
        stroke-opacity: 1;
    }
    100% {
        stroke-opacity: 0;
    }
}