.nnaOOlNL_0 {
  stroke-dasharray: 237 239;
  stroke-dashoffset: 238;
  animation: nnaOOlNL_draw 2000ms linear 0ms forwards; }

.nnaOOlNL_1 {
  stroke-dasharray: 79 81;
  stroke-dashoffset: 80;
  animation: nnaOOlNL_draw 2000ms linear 142ms forwards; }

.nnaOOlNL_2 {
  stroke-dasharray: 448 450;
  stroke-dashoffset: 449;
  animation: nnaOOlNL_draw 2000ms linear 285ms forwards; }

.nnaOOlNL_3 {
  stroke-dasharray: 375 377;
  stroke-dashoffset: 376;
  animation: nnaOOlNL_draw 2000ms linear 428ms forwards; }

.nnaOOlNL_4 {
  stroke-dasharray: 197 199;
  stroke-dashoffset: 198;
  animation: nnaOOlNL_draw 2000ms linear 571ms forwards; }

.nnaOOlNL_5 {
  stroke-dasharray: 122 124;
  stroke-dashoffset: 123;
  animation: nnaOOlNL_draw 2000ms linear 714ms forwards; }

.nnaOOlNL_6 {
  stroke-dasharray: 381 383;
  stroke-dashoffset: 382;
  animation: nnaOOlNL_draw 2000ms linear 857ms forwards; }

.nnaOOlNL_7 {
  stroke-dasharray: 212 214;
  stroke-dashoffset: 213;
  animation: nnaOOlNL_draw 2000ms linear 1000ms forwards; }

@keyframes nnaOOlNL_draw {
  100% {
    stroke-dashoffset: 0; } }
@keyframes nnaOOlNL_fade {
  0% {
    stroke-opacity: 1; }
  94.44444444444444% {
    stroke-opacity: 1; }
  100% {
    stroke-opacity: 0; } }
@media screen and (max-width: 767px) {
  .contact .main-content {
    padding: 0 15px; } }

@media screen and (max-width: 767px) {
  .main-title h1 span {
    display: inline; } }
@media screen and (min-width: 768px) {
  .main-title p br {
    display: none; } }

.form {
  padding-bottom: 75px; }
  .form input:focus {
    outline-color: #068080; }
  .form input:disabled,
  .form textarea:disabled,
  .form .disabled {
    cursor: not-allowed !important; }
  .form form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .form {
      width: 100%;
      margin: 0 auto;
      max-width: 1000px;
      padding: 0 25px; } }
  @media only screen and (min-width: 768px) {
    .form .form .wrap {
      max-width: 1300px; } }

.reminder__message {
  display: none;
  color: #e03757;
  font-size: 14px;
  font-weight: bold; }
  .reminder__message.show {
    display: block;
    padding-bottom: 10px; }

.form__box {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 15px; }
  .form__box:not([class^="final__box"]) {
    border-bottom: 2px solid #D9D9D9; }
  @media only screen and (min-width: 768px) {
    .form__box {
      flex-wrap: nowrap; } }
  .form__box h2 {
    color: #1cbfa5;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 15px 0; }
  .form__box .form__box-title {
    flex: 0 0 100%;
    padding: 0 0 15px 0; }
    @media only screen and (min-width: 768px) {
      .form__box .form__box-title {
        flex: 0 0 15%; } }
  .form__box .sendBtn {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 40px;
    border: none;
    border-radius: 1000px;
    outline: none;
    background-color: #1cbfa5;
    text-decoration: none;
    position: relative;
    overflow: hidden; }
    @media only screen and (min-width: 768px) {
      .form__box .sendBtn {
        margin: 20px 0; } }
    .form__box .sendBtn span {
      font-size: 22px;
      font-weight: bold;
      color: #FFFFFF;
      position: relative;
      z-index: 10; }
    .form__box .sendBtn:before {
      content: '';
      position: absolute;
      left: -60px;
      top: 0;
      width: 50px;
      height: 100%;
      background-color: #e03757;
      border-radius: 100px;
      transition: .3s;
      z-index: 1; }
    .form__box .sendBtn:hover:before {
      width: 100%;
      left: 0; }
  .form__box .form__box-items {
    flex: 0 0 100%;
    padding: 0 0 30px 0; }
    @media only screen and (min-width: 768px) {
      .form__box .form__box-items {
        flex: 1 0 0; } }
    .form__box .form__box-items .form__box-item {
      width: 100%;
      margin-bottom: 25px; }
      .form__box .form__box-items .form__box-item .inputtitle {
        display: block;
        width: 100%;
        color: #1A1A1A;
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 10px 0; }
      .form__box .form__box-items .form__box-item input[type='text'] {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 8px;
        color: #1A1A1A;
        font-size: 16px;
        border: 1px solid #D9D9D9;
        border-radius: 0.3em; }
        .form__box .form__box-items .form__box-item input[type='text'].valid__error {
          border: 2px solid #e03757; }
      .form__box .form__box-items .form__box-item .valid__error ~ .checkmark {
        border: 2px solid #e03757; }
      .form__box .form__box-items .form__box-item input[type='text']::placeholder,
      .form__box .form__box-items .form__box-item textarea::placeholder {
        color: #D9D9D9;
        font-size: 16px; }
      .form__box .form__box-items .form__box-item textarea {
        resize: none;
        box-sizing: border-box;
        border: 1px solid #D9D9D9;
        border-radius: 0.3em;
        width: 100%;
        padding: 15px 20px;
        font-size: 16px; }
      .form__box .form__box-items .form__box-item .required::after {
        content: '*';
        color: #e03757;
        padding-left: 0.2em; }
    .form__box .form__box-items + .form__box .form__box-items {
      margin-top: 20px; }
  .form__box .checkbox__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0 0 0; }
  .form__box .checkbox__item {
    box-sizing: border-box;
    flex: 0 0 50%;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .form__box .checkbox__item input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
    .form__box .checkbox__item .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      border: 2px solid #EEEEEE;
      background-color: transparent; }
      .form__box .checkbox__item .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 5px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
    .form__box .checkbox__item:hover input ~ .checkmark {
      background-color: #EEEEEE; }
    .form__box .checkbox__item input:checked ~ .checkmark {
      border: 2px solid #068080;
      background-color: #068080; }
    .form__box .checkbox__item input:checked ~ .checkmark:after {
      display: block; }

.selectservice.form__box-item {
  padding-bottom: 15px; }

.agree__box.checkbox__item {
  display: inline-block; }
.agree__box.checkbox__item .checkmark {
  border-radius: 0; }
.agree__box .agree__box-text {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 2em);
  font-size: 18px;
  line-height: 1.5;
  padding-left: 0; }
.agree__box a {
  display: inline-block;
  color: #1cbfa5;
  border-bottom: 1px solid #1cbfa5;
  text-decoration: none; }

#popupTips .privacylink {
  color: #20a09a;
  padding: 15px 0; }
#popupTips .highlight {
  color: red;
  text-decoration: underline;
  text-decoration-color: #000000; }

@media only screen and (min-width: 768px) {
  .companyphone__box {
    display: flex; }
    .companyphone__box .companyphonenum {
      flex: 1 0 0; }
    .companyphone__box .companyphoneext {
      margin-left: 1em;
      flex: 0 0 9em; }

  .final__box {
    margin-left: 15%; } }

/*# sourceMappingURL=contact.css.map */
