@import 'color';
@import 'font';
@import 'vw.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
body {
    font-weight: 400;
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 大區塊-主要間距
.section{
	padding: 20vw 0;
	// 75 / 375 = 0.2
	@media screen and (min-width:768px){
	    padding: 7.1428571vw 0;
	    // 100 / 1400 = 0.071428571
	}
	@media screen and (min-width:1400px){
	    padding: 100px 0;
	}

	// 控制內容寬度內距
	> .container{
		width: calc(100% - 4vw);
		// 15 / 375 = 0.04
		max-width: 1400px;
		@media screen and (min-width:768px){
		    width: 90%;
		}
	}
}

// 大區塊-特調-消除
.section.kv{
	padding: 0;
}




// 大區塊-主要標題
.main-title{
	margin-bottom:  6.6666667vw;
	// 25 / 375 = 0.066666667
	@media screen and (min-width:768px){
	    margin-bottom:  3.5714286vw;
	    // 50 / 1400 = 0.035714286
	}
	@media screen and (min-width:1400px){
	    margin-bottom:  50px;
	}
}
.kv-title {
    // font-weight: 700;
 }



// 背景-點點
.section.awards,
.section.advantage,
.solution {
  background-image: radial-gradient(circle at 1.5px, rgba(169, 231, 221, 0.8) 1.5px, transparent 1.5px);
  background-size: 14px 14px; 
}





























//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// 按紐 設定
// 01-外型-基本實心  .btn-basic
// 01-外型-外框   .btn-outline
// 01-外型-箭頭-無   .btn-arrow-not
// 02-尺寸-小型:h40 .btn-small
// 02-尺寸-大型:h55 .btn-big
// 02-尺寸-變型:桌h55 /手h30 .btn-size3
// 02-尺寸-變型:桌h55 /手h40 .btn-size4
// 03-範圍-半型 .btn-half
// 04-色彩配置-full色塊第二種：綠變紅 .btn-full-bgcolor2
// 04-色彩配置-half色塊第二種：綠變紅 .btn-half-bgcolor2
// 04-色彩配置-文字顏色第二種：黑色 .btn-text-color2
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


// 按紐-01-外型-基本實心 
	.btn-basic
	{
		position: relative;
		display: inline-block;
		overflow: hidden;
		border-radius:999px;
		text-decoration: none;
		text-align: left;
		color: #fff;
		background-color: $main-color1;
		span{
			position: relative;
			display: inline-block;
			top: -1px;
		}
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
	    	height: 100%;
			border-radius:999px;
			background-color: $main-color3;
	    	transition: width .5s, left .5s;
		}
		&::after{ // 箭頭 - 小型15px
		    content: '';
		    display: inline-block;
		    position: relative;
		    z-index: 1;
		    background: url(pic/icon_flow_arrow_right_white.png) no-repeat center/100% auto;
		}
		&:hover::before{
			width: 100%;
		}
	}

// 按紐-01-外型-外框
	.btn-outline
	{
		position: relative;
		display: inline-block;
		overflow: hidden;
		border-radius:999px;
		border: 1px solid $main-color1DD;
		text-decoration: none;
		text-align: left;
		color: $main-color1DD;
		background-color: #fff;
		span{
			position: relative;
			display: inline-block;
			top: -1px;
		}
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
	    	height: 100%;
			border-radius:999px;
			background-color: $main-color3;
	    	transition: width .5s, left .5s;
		}
		&:hover{
			border: 1px solid $main-color3;
		}
		&:hover::before{
			width: 100%;
		}
		&:hover span{
			color: #fff;
		}
	}

// 按紐-01-外型-箭頭-無
	.btn-arrow-not
	{
		&::after{
			display:none;
		}
	}



// 按紐-02-尺寸-小型:h40
	.btn-small
	{
		height: 10.6666667vw;
		// 40 / 375 = 0.106666667
		padding: 0 6.6666667vw;
		// 25 / 375 = 0.066666667
		margin: 1.3333333vw 4vw 1.3333333vw 0;
		// 5 / 375 = 0.013333333
		@media screen and (min-width:768px){
		    height: 2.8571429vw;
		    // 40 / 1400 = 0.028571429
			padding: 0 1.7857143vw;
			// 25 / 1400 = 0.017857143
			margin: 0.3571429vw 1.0714286vw 0.3571429vw 0;
			// 5 / 1400 = 0.003571429

		}
		@media screen and (min-width:1400px){
		    height: 40px;
			padding: 0 25px;
			margin: 5px 15px 5px 0;
		}

		// 箭頭的尺寸
		&::after{
		    width: 4vw;
		    height: 4vw;
		    // 15 / 375 = 0.04
			top: -0.4vw;
		    // 1 / 375 = 0.002666667
		    @media screen and (min-width:768px){
			    width: 1.0714286vw;
			    height: 1.0714286vw;
			    // 15 / 1400 = 0.010714286
				top: -0.0714286vw;
			    // 1 / 1400 = 0.000714286
		    }
		    @media screen and (min-width:1400px){
			    width: 15px;
			    height: 15px;
				top: -1px;
		    }
		}

		// 內容
		span{
			line-height: 10.6666667vw;
			// 40 / 375 = 0.106666667
			font-size: 4.8vw;
			// 18 / 375 = 0.048
			@media screen and (min-width:768px){
			    line-height: 2.8571429vw;
			    // 40 / 1400 = 0.028571429
		    	font-size: 1.2857143vw;
		    	// 18 / 1400 = 0.012857143
			}
			@media screen and (min-width:1400px){
			    line-height: 40px;
		    	font-size: 18px;
			}
		}
	}


// 按紐-02-尺寸
	.btn-big, // 大型:h55
	.btn-size3, // 變型:桌h55 /手h30
	.btn-size4 // 變型:桌h55 /手h40
	{	
		height: 14.6666667vw;
		// 55 / 375 = 0.146666667
		padding: 0 13.3333333vw;
		// 50 / 375 = 0.133333333
		margin: 1vw 1.3vw 1vw 0;
		// 5 / 375 = 0.013333333
		@media screen and (min-width:768px){
		    height: 3.9285714vw;
		    // 55 / 1400 = 0.039285714
			padding: 0 3.5714286vw;
			// 50 / 1400 = 0.035714286
			margin: 0.3571429vw 1.0714286vw 0.3571429vw 0;
			// 5 / 1400 = 0.003571429
		}
		@media screen and (min-width:1400px){
		    height: 55px;
			padding: 0 50px;
			margin: 5px 15px 5px 0;
		}
		&::after{
			display: none;
		}

		span{
			line-height: 14.6666667vw;
			// 55 / 375 = 0.146666667
			font-size: 5.8666667vw;
			// 22 / 375 = 0.058666667
			@media screen and (min-width:768px){
			    line-height: 3.9285714vw;
			    // 55 / 1400 = 0.039285714
			    font-size: 1.5714286vw;
			    // 22 / 1400 = 0.015714286
			}
			@media screen and (min-width:1400px){
			    line-height: 55px;
			    font-size: 22px;
			}
		}
	}


// 按紐-02-尺寸-變型:桌h55 /手h30  / 文字22/16
	.btn-size3
	{	
		@media screen and (max-width:767px){
			height: 8vw;
			// 30 / 375 = 0.08
			padding: 0 2.6666667vw;
			// 10 / 375 = 0.026666667
		}
		@media screen and (min-width:768px){
			padding: 0 1.7857143vw;
			// 25 / 1400 = 0.017857143
		}
		@media screen and (min-width:1400px){
			padding: 0 25px;
		}
		span{
			@media screen and (max-width:767px){
				line-height: 8vw;
				// 30 / 375 = 0.08
				font-size: 4.2666667vw;
				// 16 / 375 = 0.042666667
			}
		}
	}




// 按紐-02-尺寸-變型:桌h55 /手h40  / 文字26/20
	.btn-size4
	{	
		height: 10.6666667vw;
		// 40 / 375 = 0.106666667
		padding: 0 4vw;
		// 15 / 375 = 0.04
		@media screen and (min-width:768px){
			height: 3.9285714vw;
			// 55 / 1400 = 0.039285714
			padding: 0 1.7857143vw;
			// 25 / 1400 = 0.017857143
		}
		@media screen and (min-width:1400px){
			height: 55px;
			padding: 0 25px;
		}
		span{
			line-height: 10.6666667vw;
			// 40 / 375 = 0.106666667
			font-size: 4.55vw;
			// 20 / 375 = 0.053333333
			@media screen and (min-width:768px){
			    line-height: 3.9285714vw;
			    // 55 / 1400 = 0.039285714
			    font-size: 1.8571429vw;
			    // 26 / 1400 = 0.018571429
			}
			@media screen and (min-width:1400px){
			    line-height: 55px;
			    font-size: 26px;
			}
		}
	}


// 按紐-03-範圍-半型
	.button-half
	{
		color: $txt-main-color;
		background-color: transparent;
		&::before{
			width: 40%;
			background-color: $main-color1;
		}
		&:after{
		    background: url(pic/icon_flow_arrow_right_black.png) no-repeat center/100% auto;
		}
		&:hover{
			color:#fff;
		}
		&:hover::before{
			background-color: $main-color3;
		}
		&:hover:after{
			background: url(pic/icon_flow_arrow_right_white.png) no-repeat center/100% auto;
		}
	}



// 按紐-04-色彩配置-full色塊第二種：紅變綠
	.btn-full-bgcolor2{
		background-color: $main-color3;
		&::before{
			background-color: $main-color1;
		}
		&:hover::before{
			background-color: $main-color1;
		}
	} 
// 按紐-04-色彩配置-falf色塊第二種：紅變綠
	.btn-falf-bgcolor2{
		&::before{
			background-color: $main-color3;
		}
		&:hover::before{
			background-color: $main-color1;
		}
	} 


// 按紐-04-色彩配置-文字顏色第二種：黑色
	.btn-text-color2{
		color: $txt-main-color; 
		&:after{
		    background: url(pic/icon_flow_arrow_right_black.png) no-repeat center/100% auto;
		}
		&:hover{
			color: #fff;
		}
		&:hover::after{
		    background: url(pic/icon_flow_arrow_right_white.png) no-repeat center/100% auto;
		}
	}








// 按紐-01-外型-選項item用
	.button-select{
		background-color: #f0f000;
	}

// 按紐-01-外型-專人諮詢
	.button-contact{
		position: relative;
		display: inline-block;
		text-decoration: none;
		border-radius:999px;
		color: #fff;
		background-color: #f0f000;
		overflow: hidden;

	}




















// 白色箭頭 - 小型15px
.solution-item .txt h2::after{
	content: '';
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 4.2666667vw;
    height: 4.2666667vw;
    background: url(pic/icon_flow_arrow_right_white.png) no-repeat center/100% auto;
    // 16 / 375 ＝ 0.042666667
    @media screen and (min-width:768px){
	    width: 1.1428571vw;
	    height: 1.1428571vw;
    	// 16 / 1400 ＝ 0.011428571
    }
    @media screen and (min-width:1400px){
	    width: 16px;
	    height: 16px;
    }
}


















// =========================
// 置頂選單 Nav
// =========================
.CTBC-logo a {
	@media screen and (min-width:768px){
	    // width: 12.1429%;
	    width: auto;
	    height: 60px;
	}

}


// =========================
// 專人諮詢區域
// =========================
.section.advisory{
	padding: 0;

	>.container{
		padding: 6.6666667vw 0 13.3333333vw;
		// 25 / 375 = 0.066666667
		// 50 / 375 = 0.133333333
		@media screen and (min-width:768px){
		    padding: 3.5714286vw 10.7142857vw;
		    // 50 / 1400 = 0.035714286
		    // 150 / 1400 = 0.107142857
		}
		@media screen and (min-width:1400px){
		    padding: 50px 150px;
		}	
	}


	.subscribe p{
		margin-top: -4vw;
		@media screen and (min-width:768px){
		    margin-top: 1.0714286vw;
		    // 15 / 1400 = 0.010714286
		}
		@media screen and (min-width:1400px){
		    margin-top: -15px;
		}
	}
}





// =========================
// Footer區域
// =========================
.main-footer{
	border-top:10px solid $main-color1D;
	padding: 0;

	>.container{
		padding: 6.6666667vw 0 13.3333333vw;
		// 25 / 375 = 0.066666667
		// 50 / 375 = 0.133333333
		@media screen and (min-width:768px){
		    padding: 1.0714286vw 10.7142857vw 3.5714286vw;
		    //15 / 1400 = 0.010714286
		    // 50 / 1400 = 0.035714286
		    // 150 / 1400 = 0.107142857
		}
		@media screen and (min-width:1400px){
		    padding: 15px 150px 50px;
		}	
	}


	.subscribe p{
		margin-top: -4vw;
		@media screen and (min-width:768px){
		    margin-top: 1.0714286vw;
		    // 15 / 1400 = 0.010714286
		}
		@media screen and (min-width:1400px){
		    margin-top: -15px;
		}
	}
}





//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// =========================
// 首頁
// =========================
.page-index {

	// Banner區
	.onlyfirst{
		// 首頁-Banner- 第一則 標題文字
		.kv-title,
		.kv-title span:first-child{
			font-family: "Roboto Condensed",  "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
			font-weight: bold;
			line-height: 1.2;
			font-size: 10.1333333vw;
			// 38 / 375 = 0.101333333
			@media screen and (min-width:768px){
			    font-size: 5vw;
			    // 45 / 1400 = 0.005
			}
			@media screen and (min-width:1400px){
			    font-size: 45px;
			}
		}
		// 首頁-Banner- 第一則 標題文字-大的
		.kv-title span:nth-child(2){
			line-height: 1.2;
			font-size: 10.1333333vw;
			// 38 / 375 = 0.101333333
			@media screen and (min-width:768px){
			    font-size: 5vw;
			    // 70 / 1400 = 0.005
			}
			@media screen and (min-width:1400px){
			    font-size: 70px;
			}
		}

		.kv-txt // 首頁-Banner-次級標題
		{	
			margin-top: -10px;
			line-height: 1.5;
			font-size: 5.5vw;
			// 22 / 375 = 0.058666667
			@media screen and (min-width:768px){
			    font-size: 2.8571429vw;
			    // 40 / 1400 = 0.028571429
			}
			@media screen and (min-width:1400px){
			    font-size: 40px;
			}
		}
	}



	// 問卷區
	.mv iframe{
		text-align: center;
	}	
	.mv img{
		border-radius: 10px;
		width: calc( 100% - 12vw);
		height: auto;
		margin: 0 6.6666667vw;
		//  25 /375 = 0.066666667
		

	}

	.issue .main-content{
		@media screen and (min-width:768px){
		    margin-top:  -5.7142857vw;
		    // 80 / 1400 = 0.057142857
		}
		@media screen and (min-width:1400px){
		    margin-top:  -80px;
		}
	}
	.issue .step-group{
		@media screen and (min-width:768px){
		    padding: 0 1.0714286vw;
		    // 15 / 1400 = 0.010714286
		}
		@media screen and (min-width:1400px){
		    padding: 0 15px;
		}
	}
	.issue .step-item-list{
		@media screen and (min-width:768px){
		    margin-top: -.07142857vw;
		    // 10 / 1400 = 0.007142857
		}
		@media screen and (min-width:1400px){
		    margin-top: -10px;
		}		
	}
	.issue .step-item-list li{
		@media screen and (min-width:768px){
		    margin: 0;
		    // 10 / 1400 = 0.007142857
		}
		@media screen and (min-width:1400px){
		    // margin: 0 10px 10px 0;
		}
	}




	// 結果區
	.issue-result {

		.issue-result-item{
			.btn-more{
				background-color: $main-color3;
			}
		}
		.main-more .btn-more::before{
			background-color: $main-color1;
		}
		.main-more{
			@media screen and (max-width:767px){
				position: relative;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	// 解決方案
	.solution .main-content .col:nth-child(odd){
		@media screen and (min-width:768px){
		    padding-top:  7.1428571vw;
		    // 100 / 1400 = 0.057142857
		}
		@media screen and (min-width:1400px){
		    padding-top:  100px;
		}
	}
	.solution-item .txt{ 
		max-height: 9.0666667vw;
		// 34 / 375 = 0.090666667
		@media screen and (min-width:768px){
		    max-height: 3.5714286vw;
		    // 50 / 1400 = 0.035714286
		}
		@media screen and (min-width:1400px){
		    max-height: 50px;
		}
	}
	.solution-item:hover .txt{
		max-height: 100%;
	}

	.solution-item h2::after{
	    @media screen and (min-width:768px){
		    width: 1.4285714vw;
		    height: 1.4285714vw;
	    	// 20 / 1400 ＝ 0.014285714
	    }
	    @media screen and (min-width:1400px){
		    width: 20px;
		    height: 20px;
	    }
	}

	.solution-item:hover h2::after,
	.solution-item:active h2::after{
		display: none;
	}

}







// =========================
// KV Banner
// =========================
.kv{
	.container {
        @media screen and (max-width: 767px) {
            $pd_value: 7.5vw;
            padding-left: $pd_value;
            padding-right: $pd_value;
        }
    }

    .container:after {
        left: 0;
        background-image: url('pic/banner_bgimage_left.png');
        transform: translateX(0%);
        background-position: right center;
        @media screen and (min-width: 768px) {
            transform: translateX(-90%);
        }
    }


}


// =========================
// 表單
// =========================
.main-footer .subscribe .check-accept .checkmark {
    background-color: #fff;
}



.practice .service-banner{

  background-color: #fff;
}


.practice .service-banner video {
  display: block;
  margin: 0 auto 50px;
  width: calc(100% - 30px);
  height: auto; 
  background-color: rgba(0, 0, 0, 0);
  @media screen and (min-width: 768px) {
      width: 70%; 
  } 
}











// =========================
// 表單頁
// =========================
.section.contact{
	>.container{
		max-width: 1100px;
	}
}



// =========================
// 獎項頁
// =========================
.page-awards{
	background-color: #f2f2f2;

	// 獎項年度文字
	.awards-content .year span{
		line-height: 1.2;
		font-size: 26.6666667vw;
		font-weight: bold;
		// 100 / 375 = 0.266666667
		@media screen and (min-width:768px){
		    font-size: 7.1428571vw;
		    // 100 / 1400 = 0.071428571
		}
		@media screen and (min-width:1400px){
		    font-size: 100px;
		}
	}
}








// 條款頁
.page-regulation{
	padding-top: 60px;
	@media screen and (min-width:768px){
		padding-top: 120px;
	}
}






