@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
.main-title h1 {
  line-height: 1.5;
  font-size: 10.13333vw; }
  @media screen and (min-width: 768px) {
    .main-title h1 {
      font-size: 5vw; } }
  @media screen and (min-width: 1400px) {
    .main-title h1 {
      font-size: 70px; } }

.main-title h1 {
  line-height: 1.5;
  font-size: 7.46667vw; }
  @media screen and (min-width: 768px) {
    .main-title h1 {
      font-size: 3.57143vw; } }
  @media screen and (min-width: 1400px) {
    .main-title h1 {
      font-size: 50px; } }

.page-index .kv-title span {
  line-height: 1.5;
  font-size: 5.86667vw; }
  @media screen and (min-width: 768px) {
    .page-index .kv-title span {
      font-size: 2.85714vw; } }
  @media screen and (min-width: 1400px) {
    .page-index .kv-title span {
      font-size: 40px; } }

.issue .main-content h2 {
  line-height: 1.5;
  font-size: 6.4vw; }
  @media screen and (min-width: 768px) {
    .issue .main-content h2 {
      font-size: 2.57143vw; } }
  @media screen and (min-width: 1400px) {
    .issue .main-content h2 {
      font-size: 36px; } }

.issue .step-item h3 {
  line-height: 1.5;
  font-size: 5.86667vw; }
  @media screen and (min-width: 768px) {
    .issue .step-item h3 {
      font-size: 2.14286vw; } }
  @media screen and (min-width: 1400px) {
    .issue .step-item h3 {
      font-size: 30px; } }

.page-index .kv-txt.ly2 {
  line-height: 1.5;
  font-size: 5.33333vw; }
  @media screen and (min-width: 768px) {
    .page-index .kv-txt.ly2 {
      font-size: 2.14286vw; } }
  @media screen and (min-width: 1400px) {
    .page-index .kv-txt.ly2 {
      font-size: 30px; } }

.practice-item h2,
.slider-awards .slider-item .pic span,
.slider-awards .slider-item .txt p {
  line-height: 1.5;
  font-size: 8vw; }
  @media screen and (min-width: 768px) {
    .practice-item h2,
    .slider-awards .slider-item .pic span,
    .slider-awards .slider-item .txt p {
      font-size: 2.14286vw; } }
  @media screen and (min-width: 1400px) {
    .practice-item h2,
    .slider-awards .slider-item .pic span,
    .slider-awards .slider-item .txt p {
      font-size: 30px; } }

.case h2,
.feedback h3,
.awards-content .title,
.form__box h2,
.issue-result h3,
.issue-result-item h4 span,
.solution-item .txt h2 {
  line-height: 1.5;
  font-size: 5.86667vw; }
  @media screen and (min-width: 768px) {
    .case h2,
    .feedback h3,
    .awards-content .title,
    .form__box h2,
    .issue-result h3,
    .issue-result-item h4 span,
    .solution-item .txt h2 {
      font-size: 2.14286vw; } }
  @media screen and (min-width: 1400px) {
    .case h2,
    .feedback h3,
    .awards-content .title,
    .form__box h2,
    .issue-result h3,
    .issue-result-item h4 span,
    .solution-item .txt h2 {
      font-size: 30px; } }

.issue-result .main-more + .block-more .btn-more {
  line-height: 1.5;
  font-size: 5.86667vw; }
  @media screen and (min-width: 768px) {
    .issue-result .main-more + .block-more .btn-more {
      font-size: 1.57143vw; } }
  @media screen and (min-width: 1400px) {
    .issue-result .main-more + .block-more .btn-more {
      font-size: 22px; } }

.main-title p,
.case h3,
.case p,
.feedback blockquote p,
.feedback blockquote cite,
.slider-advantage .slider-item,
.practice-item p,
.headline-list .txt,
.news-list .item-group .txt h3,
.form__box .form__box-itemgroup .form__box-item .inputtitle,
.solution-item .txt p {
  line-height: 1.5;
  font-size: 4.8vw; }
  @media screen and (min-width: 768px) {
    .main-title p,
    .case h3,
    .case p,
    .feedback blockquote p,
    .feedback blockquote cite,
    .slider-advantage .slider-item,
    .practice-item p,
    .headline-list .txt,
    .news-list .item-group .txt h3,
    .form__box .form__box-itemgroup .form__box-item .inputtitle,
    .solution-item .txt p {
      font-size: 1.57143vw; } }
  @media screen and (min-width: 1400px) {
    .main-title p,
    .case h3,
    .case p,
    .feedback blockquote p,
    .feedback blockquote cite,
    .slider-advantage .slider-item,
    .practice-item p,
    .headline-list .txt,
    .news-list .item-group .txt h3,
    .form__box .form__box-itemgroup .form__box-item .inputtitle,
    .solution-item .txt p {
      font-size: 22px; } }

.tab-group a {
  line-height: 1.5;
  font-size: 4.8vw; }
  @media screen and (min-width: 768px) {
    .tab-group a {
      font-size: 1.57143vw; } }
  @media screen and (min-width: 1400px) {
    .tab-group a {
      font-size: 22px; } }

.kv .thubnail-list a {
  line-height: 1.5;
  font-size: 3.73333vw; }
  @media screen and (min-width: 768px) {
    .kv .thubnail-list a {
      font-size: 1.57143vw; } }
  @media screen and (min-width: 1400px) {
    .kv .thubnail-list a {
      font-size: 22px; } }

.main-footer .subscribe h2 {
  line-height: 1.5;
  font-size: 5.33333vw; }
  @media screen and (min-width: 768px) {
    .main-footer .subscribe h2 {
      font-size: 1.42857vw; } }
  @media screen and (min-width: 1400px) {
    .main-footer .subscribe h2 {
      font-size: 20px; } }

.awards-content .award {
  line-height: 1.5;
  font-size: 4.26667vw; }
  @media screen and (min-width: 768px) {
    .awards-content .award {
      font-size: 1.42857vw; } }
  @media screen and (min-width: 1400px) {
    .awards-content .award {
      font-size: 20px; } }

.awards-content p {
  line-height: 1.5;
  font-size: 3.73333vw; }
  @media screen and (min-width: 768px) {
    .awards-content p {
      font-size: 1.42857vw; } }
  @media screen and (min-width: 1400px) {
    .awards-content p {
      font-size: 20px; } }

.kv .kv-btn,
.main-footer .subscribe p,
.main-footer .subscribe .check-accept,
.main-footer .subscribe .input-subscribe,
.pagination a,
.form__box .checkbox__item,
.agree__box .agree__box-text,
.issue-result-item .txt p,
.slider-client-item li p,
.slider-awards .slider-item .txt h3 {
  line-height: 1.5;
  font-size: 4.8vw; }
  @media screen and (min-width: 768px) {
    .kv .kv-btn,
    .main-footer .subscribe p,
    .main-footer .subscribe .check-accept,
    .main-footer .subscribe .input-subscribe,
    .pagination a,
    .form__box .checkbox__item,
    .agree__box .agree__box-text,
    .issue-result-item .txt p,
    .slider-client-item li p,
    .slider-awards .slider-item .txt h3 {
      font-size: 1.28571vw; } }
  @media screen and (min-width: 1400px) {
    .kv .kv-btn,
    .main-footer .subscribe p,
    .main-footer .subscribe .check-accept,
    .main-footer .subscribe .input-subscribe,
    .pagination a,
    .form__box .checkbox__item,
    .agree__box .agree__box-text,
    .issue-result-item .txt p,
    .slider-client-item li p,
    .slider-awards .slider-item .txt h3 {
      font-size: 18px; } }

.news-list .item-group .txt p,
.form__box .form__box-itemgroup .form__box-item input[type='text'],
input[type='text']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
.reminder__message,
textarea {
  line-height: 1.5;
  font-size: 4.26667vw; }

.news-list .item-group .txt p,
.form__box .form__box-itemgroup .form__box-item input[type='text'],
input[type='text']:-ms-input-placeholder,
textarea:-ms-input-placeholder,
.reminder__message,
textarea {
  line-height: 1.5;
  font-size: 4.26667vw; }

.news-list .item-group .txt p,
.form__box .form__box-itemgroup .form__box-item input[type='text'],
input[type='text']::-ms-input-placeholder,
textarea::-ms-input-placeholder,
.reminder__message,
textarea {
  line-height: 1.5;
  font-size: 4.26667vw; }

.news-list .item-group .txt p,
.form__box .form__box-itemgroup .form__box-item input[type='text'],
input[type='text']::placeholder,
textarea::placeholder,
.reminder__message,
textarea {
  line-height: 1.5;
  font-size: 4.26667vw; }
  @media screen and (min-width: 768px) {
    .news-list .item-group .txt p,
    .form__box .form__box-itemgroup .form__box-item input[type='text'],
    input[type='text']::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    .reminder__message,
    textarea {
      font-size: 1.14286vw; }
    .news-list .item-group .txt p,
    .form__box .form__box-itemgroup .form__box-item input[type='text'],
    input[type='text']:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    .reminder__message,
    textarea {
      font-size: 1.14286vw; }
    .news-list .item-group .txt p,
    .form__box .form__box-itemgroup .form__box-item input[type='text'],
    input[type='text']::-ms-input-placeholder,
    textarea::-ms-input-placeholder,
    .reminder__message,
    textarea {
      font-size: 1.14286vw; }
    .news-list .item-group .txt p,
    .form__box .form__box-itemgroup .form__box-item input[type='text'],
    input[type='text']::placeholder,
    textarea::placeholder,
    .reminder__message,
    textarea {
      font-size: 1.14286vw; } }
  @media screen and (min-width: 1400px) {
    .news-list .item-group .txt p,
    .form__box .form__box-itemgroup .form__box-item input[type='text'],
    input[type='text']::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    .reminder__message,
    textarea {
      font-size: 16px; }
    .news-list .item-group .txt p,
    .form__box .form__box-itemgroup .form__box-item input[type='text'],
    input[type='text']:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    .reminder__message,
    textarea {
      font-size: 16px; }
    .news-list .item-group .txt p,
    .form__box .form__box-itemgroup .form__box-item input[type='text'],
    input[type='text']::-ms-input-placeholder,
    textarea::-ms-input-placeholder,
    .reminder__message,
    textarea {
      font-size: 16px; }
    .news-list .item-group .txt p,
    .form__box .form__box-itemgroup .form__box-item input[type='text'],
    input[type='text']::placeholder,
    textarea::placeholder,
    .reminder__message,
    textarea {
      font-size: 16px; } }

.news-list .category,
.news-list .date {
  line-height: 1.5;
  font-size: 3.73333vw; }
  @media screen and (min-width: 768px) {
    .news-list .category,
    .news-list .date {
      font-size: 1vw; } }
  @media screen and (min-width: 1400px) {
    .news-list .category,
    .news-list .date {
      font-size: 14px; } }

.footer-list,
.copyright {
  line-height: 1.5;
  font-size: 3.2vw; }
  @media screen and (min-width: 768px) {
    .footer-list,
    .copyright {
      font-size: 1.14286vw; } }
  @media screen and (min-width: 1400px) {
    .footer-list,
    .copyright {
      font-size: 16px; } }

body {
  font-weight: 400; }

.section {
  padding: 20vw 0; }
  @media screen and (min-width: 768px) {
    .section {
      padding: 7.14286vw 0; } }
  @media screen and (min-width: 1400px) {
    .section {
      padding: 100px 0; } }
  .section > .container {
    width: calc(100% - $xxs-vw-15-vw);
    max-width: 1400px; }
    @media screen and (min-width: 768px) {
      .section > .container {
        width: 90%; } }

.section.kv {
  padding: 0; }

.main-title {
  margin-bottom: 6.66667vw; }
  @media screen and (min-width: 768px) {
    .main-title {
      margin-bottom: 3.57143vw; } }
  @media screen and (min-width: 1400px) {
    .main-title {
      margin-bottom: 50px; } }

.section.awards,
.section.advantage,
.solution {
  background-image: -webkit-radial-gradient(1.5px, circle, rgba(169, 231, 221, 0.8) 1.5px, transparent 1.5px);
  background-image: -o-radial-gradient(1.5px, circle, rgba(169, 231, 221, 0.8) 1.5px, transparent 1.5px);
  background-image: radial-gradient(circle at 1.5px, rgba(169, 231, 221, 0.8) 1.5px, transparent 1.5px);
  background-size: 14px 14px; }

@media screen and (min-width: 768px) {
  .visible-xs {
    display: none; } }

@media screen and (max-width: 767px) {
  .visible-lg {
    display: none; } }

.btn-basic {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 999px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  background-color: #1cbfa5; }
  .btn-basic span {
    position: relative;
    display: inline-block;
    top: -1px; }
  .btn-basic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 999px;
    background-color: #e03757;
    -webkit-transition: width .5s, left .5s;
    -o-transition: width .5s, left .5s;
    transition: width .5s, left .5s; }
  .btn-basic::after {
    content: '';
    display: inline-block;
    position: relative;
    z-index: 1;
    background: url(pic/icon_flow_arrow_right_white.png) no-repeat center/100% auto; }
  .btn-basic:hover::before {
    width: 100%; }

.btn-outline {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 999px;
  border: 1px solid #007d7d;
  text-decoration: none;
  text-align: left;
  color: #007d7d;
  background-color: #fff; }
  .btn-outline span {
    position: relative;
    display: inline-block;
    top: -1px; }
  .btn-outline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 999px;
    background-color: #e03757;
    -webkit-transition: width .5s, left .5s;
    -o-transition: width .5s, left .5s;
    transition: width .5s, left .5s; }
  .btn-outline:hover {
    border: 1px solid #e03757; }
  .btn-outline:hover::before {
    width: 100%; }
  .btn-outline:hover span {
    color: #fff; }

.btn-arrow-not::after {
  display: none; }

.btn-small {
  height: 10.66667vw;
  padding: 0 6.66667vw;
  margin: 1.33333vw 4vw 1.33333vw 0; }
  @media screen and (min-width: 768px) {
    .btn-small {
      height: 2.85714vw;
      padding: 0 1.78571vw;
      margin: 0.35714vw 1.78571vw 0.35714vw 0; } }
  @media screen and (min-width: 1400px) {
    .btn-small {
      height: 40px;
      padding: 0 25px;
      margin: 5px 15px 5px 0; } }
  .btn-small::after {
    width: 4vw;
    height: 4vw;
    top: -0.4vw; }
    @media screen and (min-width: 768px) {
      .btn-small::after {
        width: 1.07143vw;
        height: 1.07143vw;
        top: -0.07143vw; } }
    @media screen and (min-width: 1400px) {
      .btn-small::after {
        width: 15px;
        height: 15px;
        top: -1px; } }
  .btn-small span {
    line-height: 10.66667vw;
    font-size: 4.8vw; }
    @media screen and (min-width: 768px) {
      .btn-small span {
        line-height: 2.85714vw;
        font-size: 1.28571vw; } }
    @media screen and (min-width: 1400px) {
      .btn-small span {
        line-height: 40px;
        font-size: 18px; } }

.btn-big,
.btn-size3,
.btn-size4 {
  height: 14.66667vw;
  padding: 0 13.33333vw;
  margin: 0.26667vw 1.33333vw 0.26667vw 0; }
  @media screen and (min-width: 768px) {
    .btn-big,
    .btn-size3,
    .btn-size4 {
      height: 3.92857vw;
      padding: 0 3.57143vw;
      margin: 0.35714vw 1.07143vw 0.35714vw 0; } }
  @media screen and (min-width: 1400px) {
    .btn-big,
    .btn-size3,
    .btn-size4 {
      height: 55px;
      padding: 0 50px;
      margin: 5px 15px 5px 0; } }
  .btn-big::after,
  .btn-size3::after,
  .btn-size4::after {
    display: none; }
  .btn-big span,
  .btn-size3 span,
  .btn-size4 span {
    line-height: 14.66667vw;
    font-size: 5.86667vw; }
    @media screen and (min-width: 768px) {
      .btn-big span,
      .btn-size3 span,
      .btn-size4 span {
        line-height: 3.92857vw;
        font-size: 1.57143vw; } }
    @media screen and (min-width: 1400px) {
      .btn-big span,
      .btn-size3 span,
      .btn-size4 span {
        line-height: 55px;
        font-size: 22px; } }

@media screen and (max-width: 767px) {
  .btn-size3 {
    height: 8vw;
    padding: 0 2.66667vw; } }

@media screen and (min-width: 768px) {
  .btn-size3 {
    padding: 0 1.78571vw; } }

@media screen and (min-width: 1400px) {
  .btn-size3 {
    padding: 0 25px; } }

@media screen and (max-width: 767px) {
  .btn-size3 span {
    line-height: 8vw;
    font-size: 4.26667vw; } }

.btn-size4 {
  height: 10.66667vw;
  padding: 0 4vw; }
  @media screen and (min-width: 768px) {
    .btn-size4 {
      height: 3.92857vw;
      padding: 0 1.78571vw; } }
  @media screen and (min-width: 1400px) {
    .btn-size4 {
      height: 55px;
      padding: 0 25px; } }
  .btn-size4 span {
    line-height: 10.66667vw;
    font-size: 5.33333vw; }
    @media screen and (min-width: 768px) {
      .btn-size4 span {
        line-height: 3.92857vw;
        font-size: 1.85714vw; } }
    @media screen and (min-width: 1400px) {
      .btn-size4 span {
        line-height: 55px;
        font-size: 26px; } }

.button-half {
  color: #1A1A1A;
  background-color: transparent; }
  .button-half::before {
    width: 40%;
    background-color: #1cbfa5; }
  .button-half:after {
    background: url(pic/icon_flow_arrow_right_black.png) no-repeat center/100% auto; }
  .button-half:hover {
    color: #fff; }
  .button-half:hover::before {
    background-color: #e03757; }
  .button-half:hover:after {
    background: url(pic/icon_flow_arrow_right_white.png) no-repeat center/100% auto; }

.btn-full-bgcolor2 {
  background-color: #e03757; }
  .btn-full-bgcolor2::before {
    background-color: #1cbfa5; }
  .btn-full-bgcolor2:hover::before {
    background-color: #1cbfa5; }

.btn-falf-bgcolor2::before {
  background-color: #e03757; }

.btn-falf-bgcolor2:hover::before {
  background-color: #1cbfa5; }

.btn-text-color2 {
  color: #1A1A1A; }
  .btn-text-color2:after {
    background: url(pic/icon_flow_arrow_right_black.png) no-repeat center/100% auto; }
  .btn-text-color2:hover {
    color: #fff; }
  .btn-text-color2:hover::after {
    background: url(pic/icon_flow_arrow_right_white.png) no-repeat center/100% auto; }

.button-select {
  background-color: #f0f000; }

.button-contact {
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-radius: 999px;
  color: #fff;
  background-color: #f0f000;
  overflow: hidden; }

.solution-item .txt h2::after {
  content: '';
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 4.26667vw;
  height: 4.26667vw;
  background: url(pic/icon_flow_arrow_right_white.png) no-repeat center/100% auto; }
  @media screen and (min-width: 768px) {
    .solution-item .txt h2::after {
      width: 1.14286vw;
      height: 1.14286vw; } }
  @media screen and (min-width: 1400px) {
    .solution-item .txt h2::after {
      width: 16px;
      height: 16px; } }

@media screen and (min-width: 768px) {
  .CTBC-logo a {
    width: auto;
    height: 60px; } }

.section.advisory {
  padding: 0; }
  .section.advisory > .container {
    padding: 6.66667vw 0 13.33333vw; }
    @media screen and (min-width: 768px) {
      .section.advisory > .container {
        padding: 3.57143vw 10.71429vw; } }
    @media screen and (min-width: 1400px) {
      .section.advisory > .container {
        padding: 50px 150px; } }
  .section.advisory .subscribe p {
    margin-top: -4vw; }
    @media screen and (min-width: 768px) {
      .section.advisory .subscribe p {
        margin-top: 1.07143vw; } }
    @media screen and (min-width: 1400px) {
      .section.advisory .subscribe p {
        margin-top: -15px; } }

.main-footer {
  border-top: 10px solid #068080;
  padding: 0; }
  .main-footer > .container {
    padding: 6.66667vw 0 13.33333vw; }
    @media screen and (min-width: 768px) {
      .main-footer > .container {
        padding: 1.07143vw 10.71429vw 3.57143vw; } }
    @media screen and (min-width: 1400px) {
      .main-footer > .container {
        padding: 15px 150px 50px; } }
  .main-footer .subscribe p {
    margin-top: -4vw; }
    @media screen and (min-width: 768px) {
      .main-footer .subscribe p {
        margin-top: 1.07143vw; } }
    @media screen and (min-width: 1400px) {
      .main-footer .subscribe p {
        margin-top: -15px; } }

.page-index .onlyfirst .kv-title,
.page-index .onlyfirst .kv-title span:first-child {
  font-family: "Roboto Condensed",  "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
  font-weight: bold;
  line-height: 1.2;
  font-size: 10.13333vw; }
  @media screen and (min-width: 768px) {
    .page-index .onlyfirst .kv-title,
    .page-index .onlyfirst .kv-title span:first-child {
      font-size: 3.21429vw; } }
  @media screen and (min-width: 1400px) {
    .page-index .onlyfirst .kv-title,
    .page-index .onlyfirst .kv-title span:first-child {
      font-size: 45px; } }

.page-index .onlyfirst .kv-title span:nth-child(2) {
  line-height: 1.2;
  font-size: 10.13333vw; }
  @media screen and (min-width: 768px) {
    .page-index .onlyfirst .kv-title span:nth-child(2) {
      font-size: 5vw; } }
  @media screen and (min-width: 1400px) {
    .page-index .onlyfirst .kv-title span:nth-child(2) {
      font-size: 70px; } }

.page-index .onlyfirst .kv-txt {
  margin-top: -2.66667vw;
  line-height: 1.5;
  font-size: 5.6vw; }
  @media screen and (min-width: 768px) {
    .page-index .onlyfirst .kv-txt {
      font-size: 2.85714vw; } }
  @media screen and (min-width: 1400px) {
    .page-index .onlyfirst .kv-txt {
      font-size: 40px; } }

.page-index .mv iframe {
  text-align: center; }

.page-index .mv img {
  border-radius: 10px;
  width: calc( 100% - $xxs-vw-12-vw);
  height: auto;
  margin: 0 6.66667vw; }

@media screen and (min-width: 768px) {
  .page-index .issue .main-content {
    margin-top: -5.71429vw; } }

@media screen and (min-width: 1400px) {
  .page-index .issue .main-content {
    margin-top: -80px; } }

@media screen and (min-width: 768px) {
  .page-index .issue .step-group {
    padding: 1.07143vw; } }

@media screen and (min-width: 1400px) {
  .page-index .issue .step-group {
    padding: 0 15px; } }

@media screen and (min-width: 768px) {
  .page-index .issue .step-item-list {
    margin-top: -0.71429vw; } }

@media screen and (min-width: 1400px) {
  .page-index .issue .step-item-list {
    margin-top: -10px; } }

@media screen and (min-width: 768px) {
  .page-index .issue .step-item-list li {
    margin: 0; } }

.page-index .issue-result .issue-result-item .btn-more {
  background-color: #e03757; }

.page-index .issue-result .main-more .btn-more::before {
  background-color: #1cbfa5; }

@media screen and (max-width: 767px) {
  .page-index .issue-result .main-more {
    position: relative;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 768px) {
  .page-index .solution .main-content .col:nth-child(odd) {
    padding-top: 7.14286vw; } }

@media screen and (min-width: 1400px) {
  .page-index .solution .main-content .col:nth-child(odd) {
    padding-top: 100px; } }

.page-index .solution-item .txt {
  max-height: 9.33333vw; }
  @media screen and (min-width: 768px) {
    .page-index .solution-item .txt {
      max-height: 3.57143vw; } }
  @media screen and (min-width: 1400px) {
    .page-index .solution-item .txt {
      max-height: 50px; } }

.page-index .solution-item:hover .txt {
  max-height: 100%; }

@media screen and (min-width: 768px) {
  .page-index .solution-item h2::after {
    width: 1.4285714vw;
    height: 1.4285714vw; } }

@media screen and (min-width: 1400px) {
  .page-index .solution-item h2::after {
    width: 20px;
    height: 20px; } }

.page-index .solution-item:hover h2::after,
.page-index .solution-item:active h2::after {
  display: none; }

@media screen and (max-width: 767px) {
  .kv .container {
    padding-left: 7.5vw;
    padding-right: 7.5vw; } }

.kv .container:after {
  left: 0;
  background-image: url("pic/banner_bgimage_left.png");
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  background-position: right center; }
  @media screen and (min-width: 768px) {
    .kv .container:after {
      -webkit-transform: translateX(-90%);
      -ms-transform: translateX(-90%);
      transform: translateX(-90%); } }

.main-footer .subscribe .check-accept .checkmark {
  background-color: #fff; }

.practice .service-banner {
  background-color: #fff; }

.practice .service-banner video {
  display: block;
  margin: 0 auto 50px;
  width: calc(100% - 30px);
  height: auto;
  background-color: rgba(0, 0, 0, 0); }
  @media screen and (min-width: 768px) {
    .practice .service-banner video {
      width: 70%; } }

.section.contact > .container {
  max-width: 1100px; }

.page-awards {
  background-color: #f2f2f2; }
  .page-awards .awards-content .year span {
    line-height: 1.2;
    font-weight: bold;
    font-size: 26.66667vw; }
    @media screen and (min-width: 768px) {
      .page-awards .awards-content .year span {
        font-size: 7.14286vw; } }
    @media screen and (min-width: 1400px) {
      .page-awards .awards-content .year span {
        font-size: 100px; } }

.page-regulation {
  padding-top: 16vw; }
  @media screen and (min-width: 768px) {
    .page-regulation {
      padding-top: 8.57143vw; } }
  @media screen and (min-width: 1400px) {
    .page-regulation {
      padding-top: 120px; } }
