@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap");
body {
  font-family: "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
  font-weight: 400; }

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  line-height: 20px; }

.logo.CTBC-logo {
  height: 60px; }

.logo.CTBC-logo a {
  width: 40%;
  max-width: 170px;
  margin-right: auto;
  margin-left: 0; }

@media screen and (max-width: 767px) {
  .logo.CTBC-logo .hb {
    width: 30px;
    height: 30px;
    top: 15px;
    right: 10px;
    margin-left: auto; }
  .logo.CTBC-logo .link-contact {
    width: 30%;
    max-width: 100px;
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0 55px 0 auto; }
  .logo.CTBC-logo .link-contact a {
    width: 100%;
    padding: 5px;
    margin: 12px 0 7px;
    text-align: center; }
  .link-contact a,
  .link-contact a:hover,
  .link-contact a:active,
  .link-contact a:focus,
  .link-contact a:visited {
    color: #fff; } }

@media screen and (min-width: 768px) {
  .logo.CTBC-logo .link-contact {
    display: none; } }

.nav-list {
  margin: 13px 0; }
  .nav-list .link-marketplace a {
    border: 0; }

.nav-list li a.active {
  border-radius: 100px;
  border: 1px solid #fff; }

.link-contact a {
  background-color: #1cbfa5;
  border-radius: 100px;
  display: inline-block; }

.link-contact a span {
  position: relative;
  display: inline-block;
  z-index: 1; }

.link-contact a::after {
  content: '';
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 15px;
  height: 15px;
  background: url("pic/icon_flow_arrow_right_white.png") no-repeat center/100% auto; }

.main-nav .hb {
  background-color: #1cbfa5;
  z-index: 2; }

@media screen and (max-width: 767px) {
  .main-nav {
    width: 82%;
    z-index: 2;
    padding-top: 50px;
    font-size: 18px; }
    .main-nav .nav-list {
      width: 80%;
      margin: 0 auto; }
    .main-nav .nav-list li a {
      padding: 9px 20px 11px; }
    .main-nav .link-contact {
      display: none; } }

.main-nav .nav-list li.dropdown::before,
.main-nav .nav-list li.dropdown::after {
  content: "";
  top: 20px;
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 3px; }
  @media screen and (min-width: 768px) {
    .main-nav .nav-list li.dropdown::before,
    .main-nav .nav-list li.dropdown::after {
      top: 17px; } }

.main-nav .nav-list li.dropdown::after {
  right: 40px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  @media screen and (min-width: 768px) {
    .main-nav .nav-list li.dropdown::after {
      right: 30px; } }

.main-nav .nav-list li.dropdown::before {
  right: 35px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
  @media screen and (min-width: 768px) {
    .main-nav .nav-list li.dropdown::before {
      right: 25px; } }

.main-nav .nav-list li.dropdown:hover::after,
.main-nav .nav-list li.dropdown:active::after {
  right: 40px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
  @media screen and (min-width: 768px) {
    .main-nav .nav-list li.dropdown:hover::after,
    .main-nav .nav-list li.dropdown:active::after {
      right: 30px; } }

.main-nav .nav-list li.dropdown:hover::before,
.main-nav .nav-list li.dropdown:active::before {
  right: 35px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  @media screen and (min-width: 768px) {
    .main-nav .nav-list li.dropdown:hover::before,
    .main-nav .nav-list li.dropdown:active::before {
      right: 25px; } }

.main-nav .nav-list .sub-menu {
  width: 90%;
  margin: 10px auto 0; }
  @media screen and (min-width: 768px) {
    .main-nav .nav-list .sub-menu {
      border-radius: 5px;
      margin-top: 2px;
      width: 100%; } }

.main-nav .nav-list .sub-menu li {
  padding: 5px 20px;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .main-nav .nav-list .sub-menu li {
      padding: 5px 15px; } }

.main-nav .sub-menu li > a {
  background: rgba(239, 49, 57, 0);
  border-radius: 5px;
  color: #1c3e57;
  padding-left: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.main-nav .sub-menu li > a:hover {
  background: rgba(239, 49, 57, 0.1);
  padding-left: 15px;
  color: #e03757; }

.btn-round {
  position: relative; }

.btn-round:before {
  content: '';
  width: 0px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  opacity: 1; }

.btn-round:hover:before {
  width: 100%; }

.btn-round:before {
  background-color: #e03757; }

.page-service .section.kv {
  background-color: #1A1A1A;
  height: 133.3333333vw; }
  @media screen and (min-width: 450px) {
    .page-service .section.kv {
      height: 90vw; } }
  @media screen and (min-width: 768px) {
    .page-service .section.kv {
      height: 50vw; } }
  @media screen and (min-width: 1400px) {
    .page-service .section.kv {
      height: 700px; } }
  .page-service .section.kv::before, .page-service .section.kv::after {
    display: none; }
  .page-service .section.kv .container::before,
  .page-service .section.kv .container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100%;
    z-index: -1; }
  @media screen and (min-width: 768px) {
    .page-service .section.kv .container:before {
      background-image: url(pic/banner_bgimage_right.png);
      -webkit-transform: translateX(90%);
      -ms-transform: translateX(90%);
      transform: translateX(90%);
      background-position: center left; } }
  .page-service .section.kv .container:after {
    background-image: url(pic/banner_bgimage_left.png);
    -webkit-transform: translateX(-75%);
    -ms-transform: translateX(-75%);
    transform: translateX(-75%);
    background-position: center right; }
    @media screen and (min-width: 768px) {
      .page-service .section.kv .container:after {
        -webkit-transform: translateX(-90%);
        -ms-transform: translateX(-90%);
        transform: translateX(-90%); } }
  .page-service .section.kv .kv-group-image {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      .page-service .section.kv .kv-group-image img {
        width: 120%;
        margin-left: -9%; } }
    @media screen and (min-width: 1200px) {
      .page-service .section.kv .kv-group-image img {
        width: 112%;
        margin-left: -7%; } }
    @media screen and (min-width: 1400px) {
      .page-service .section.kv .kv-group-image img {
        width: 105%;
        margin-left: -5%; } }
    @media screen and (min-width: 1920px) {
      .page-service .section.kv .kv-group-image img {
        width: 100%;
        margin-left: 0%; } }
  .page-service .section.kv .container {
    padding: 0 8vw; }
    @media screen and (min-width: 768px) {
      .page-service .section.kv .container {
        padding: 0 10.7142857vw; } }
    @media screen and (min-width: 1400px) {
      .page-service .section.kv .container {
        padding: 0 150px; } }
  .page-service .section.kv .kv-title,
  .page-service .section.kv .kv-txt {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75); }
  .page-service .section.kv .kv-title {
    font-weight: 500;
    font-size: 10.1333333vw; }
    @media screen and (min-width: 768px) {
      .page-service .section.kv .kv-title {
        font-size: 5vw; } }
    @media screen and (min-width: 1400px) {
      .page-service .section.kv .kv-title {
        font-size: 70px; } }
  .page-service .section.kv .kv-txt {
    font-size: 5.3333333vw; }
    @media screen and (min-width: 768px) {
      .page-service .section.kv .kv-txt {
        font-size: 2.1428571vw; } }
    @media screen and (min-width: 1400px) {
      .page-service .section.kv .kv-txt {
        font-size: 30px; } }

.main-footer .subscribe h2 {
  font-size: 5.3333333vw;
  padding-left: 2px; }
  @media screen and (min-width: 768px) {
    .main-footer .subscribe h2 {
      line-height: 0.7;
      text-align: left;
      font-size: 1.4285714vw; } }
  @media screen and (min-width: 1400px) {
    .main-footer .subscribe h2 {
      font-size: 20px; } }

.main-footer .subscribe p,
.main-footer .subscribe .check-accept,
.main-footer .subscribe .input-subscribe {
  font-size: 4.8vw;
  padding-left: 2px; }
  @media screen and (min-width: 768px) {
    .main-footer .subscribe p,
    .main-footer .subscribe .check-accept,
    .main-footer .subscribe .input-subscribe {
      line-height: 0.7;
      text-align: left;
      font-size: 1.2857143vw; } }
  @media screen and (min-width: 1400px) {
    .main-footer .subscribe p,
    .main-footer .subscribe .check-accept,
    .main-footer .subscribe .input-subscribe {
      font-size: 18px; } }

.main-footer .subscribe .btn-subscribe {
  font-size: 5.8666667vw; }
  @media screen and (min-width: 768px) {
    .main-footer .subscribe .btn-subscribe {
      font-size: 1.5714286vw; } }
  @media screen and (min-width: 1400px) {
    .main-footer .subscribe .btn-subscribe {
      font-size: 22px; } }

.main-footer .footer-list,
.main-footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 3.2vw; }
  @media screen and (min-width: 768px) {
    .main-footer .footer-list,
    .main-footer .copyright {
      font-size: 1.1428571vw; } }
  @media screen and (min-width: 1400px) {
    .main-footer .footer-list,
    .main-footer .copyright {
      font-size: 16px; } }

.main-footer .footer-list a,
.main-footer .footer-list a:hover,
.main-footer .footer-list a:active,
.main-footer .copyright {
  color: rgba(255, 255, 255, 0.5); }

.main-footer .container {
  max-width: 1200px;
  padding: 0 8vw; }
  @media screen and (min-width: 768px) {
    .main-footer .container {
      padding: 0 10.7142857vw; } }
  @media screen and (min-width: 1200px) {
    .main-footer .container {
      padding: 0 150px; } }

.main-footer .subscribe .input-subscribe {
  padding: 2% 5%; }
  @media screen and (min-width: 768px) {
    .main-footer .subscribe .input-subscribe {
      padding: 1% 1%;
      width: calc(100% - 17%); } }
  @media screen and (min-width: 996px) {
    .main-footer .subscribe .input-subscribe {
      width: calc(100% - 17%); } }
  @media screen and (min-width: 1400px) {
    .main-footer .subscribe .input-subscribe {
      width: calc(100% - 175px); } }

.main-footer .subscribe .check-accept {
  padding-top: 5px; }

.main-footer .subscribe .btn-subscribe {
  width: auto;
  padding: 4% 15%;
  margin-top: 5%; }
  @media screen and (min-width: 768px) {
    .main-footer .subscribe .btn-subscribe {
      padding: 1% 1%;
      margin-top: 0;
      width: 50%;
      max-width: 100px; } }
  @media screen and (min-width: 996px) {
    .main-footer .subscribe .btn-subscribe {
      max-width: 130px; } }
  @media screen and (min-width: 1400px) {
    .main-footer .subscribe .btn-subscribe {
      max-width: 170px; } }

.main-footer .footer-list {
  padding-top: 7%; }
  @media screen and (min-width: 768px) {
    .main-footer .footer-list {
      width: 80%;
      padding-top: 0; } }

@media screen and (max-width: 767px) {
  .main-footer .footer-list li,
  .main-footer .footer-list a {
    margin-left: auto;
    margin-right: auto; } }

.main-footer .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 2%; }
  @media screen and (min-width: 768px) {
    .main-footer .copyright {
      border-top: 0;
      padding-top: 0; } }

.section.advisory {
  background: url("pic/bgimage_actionbox.jpg") no-repeat center center/auto 100%, #164D83; }
  .section.advisory * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .section.advisory .txt a {
    font-size: 6.9333333vw; }
    @media screen and (min-width: 768px) {
      .section.advisory .txt a {
        font-size: 2.5vw; } }
    @media screen and (min-width: 1400px) {
      .section.advisory .txt a {
        font-size: 35px; } }
  .section.advisory .txt a:hover,
  .section.advisory .txt a:active {
    color: #46ffc0; }
  .section.advisory .container {
    max-width: 1200px;
    padding: 0 8vw; }
    @media screen and (min-width: 768px) {
      .section.advisory .container {
        padding: 0 10.7142857vw; } }
    @media screen and (min-width: 1200px) {
      .section.advisory .container {
        padding: 0 150px; } }
  .section.advisory .txt a {
    position: relative;
    width: 100%;
    padding: 5% 0 5% 5%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .section.advisory .txt a {
        padding: 0% 0 0% 5%; } }
    @media screen and (min-width: 1200px) {
      .section.advisory .txt a {
        padding: 0 0 0 55px; } }
  .section.advisory .txt span::before {
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    left: 0;
    -webkit-transform: translateY(-40%) translateX(-110%);
    -ms-transform: translateY(-40%) translateX(-110%);
    transform: translateY(-40%) translateX(-110%);
    width: 8vw;
    height: 8vw;
    background: url("pic/icon_arrow_green.png") no-repeat center center/100% auto; }
    @media screen and (min-width: 768px) {
      .section.advisory .txt span::before {
        width: 4vw;
        height: 4vw; } }
    @media screen and (min-width: 1400px) {
      .section.advisory .txt span::before {
        width: 50px;
        height: 50px; } }
  .section.advisory .txt a:hover :after {
    width: 85%;
    max-width: 350px; }
