.extralink__popup {
    display: none;
    width: 500px;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    overflow: visible
}
.extralink-popup--md{
    width: 500px;
}
.extralink__popup-title {
    position: relative;
    padding: 15px 15px 0 15px;
    border-radius: 4px 4px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: #007979;
    text-align: center
}

.extralink__popup-content {
    padding: 15px 40px 30px
}

.extralink__popup-content > *:first-child {
    margin-top: 0
}

.extralink__popup-content img {
    max-width: 100%
}

.extralink__popup-content--scroll {
    max-height: 80vh !important;
    overflow-y: auto
}

.extralink__popup-content--tight {
    padding: 0
}

.extralink__popup-actions {
    text-align: center;
    display: flex;
    width: 100%
}

.extralink__popup-actions .actions__btn {
    flex: 0 0 50%;
    border-radius: 0
}

.extralink__popup-actions .actions__btn:first-child {
    border-bottom-left-radius: 5px
}

.extralink__popup-actions .actions__btn:last-child {
    border-bottom-right-radius: 5px
}

.extralink__popup-actions--divider {
    padding: 15px 15px 0;
    border-top: 1px solid #d8dfe3
}

.extralink__popup__shrink {
    padding: 0 20px
}

.extralink__popup--sm {
    width: 300px
}

.extralink__popup--md {
    width: 500px
}

.extralink__popup--lg {
    width: 800px
}

@media only screen and (max-width: 989px) {
    .extralink__popup {
        max-width: 100%
    }

    .extralink__popup-content {
        padding: 15px 15px 30px
    }
}

.actions__btn {
    display: inline-block;
    min-width: 136px;
    padding: 9px 15px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 4px;
    transition: background-color .3s ease
}

.actions__btn-primary {
    border-color: #24a09a;
    color: #fff;
    background-color: #24a09a
}

.actions__btn-primary:hover {
    border-color: #1cbead;
    background-color: #1cbead
}

.actions__btn-primary:active {
    border-color: #007979;
    background-color: #007979
}

.actions__btn-primary.disabled {
    border-color: #eceff1 !important;
    color: #a1b3bc !important;
    background-color: #eceff1 !important;
    cursor: default !important
}

.actions__btn-secondary {
    border-color: #24a09a;
    color: #24a09a;
    background-color: transparent
}

.actions__btn-secondary:hover {
    color: #fff;
    border-color: #1cbead;
    background-color: #1cbead
}

.actions__btn-secondary:active {
    color: #fff;
    border-color: #a1b3bc;
    background-color: #007979
}

.actions__btn-secondary.disabled {
    border-color: #eceff1 !important;
    color: #a1b3bc !important;
    background-color: #eceff1 !important;
    cursor: default !important
}

.fancybox-container {
    color: #262c21;
    font-family: Arial, sans-serif, "Microsoft JhengHei";
    font-size: 16px;
    line-height: 1.5
}

.fancybox-slide--iframe .fancybox-close-small:hover svg, .fancybox-slide--image .fancybox-close-small:hover svg, .fancybox-slide--video .fancybox-close-small:hover svg {
    color: #24a09a
}

.fancybox-slide:before {
    margin-right: 0
}

.fancybox-close-small {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #007979;
    border-radius: 50%;
    transition: .3s ease all
}

.fancybox-close-small svg {
    color: #fff;
    width: 30px;
    height: 30px
}

.fancybox-close-small:hover {
    background-color: #1cbead
}

.fancybox-close-small:hover svg {
    color: #fff
}

.fancybox-slide--html {
    padding: 30px
}

